## PHASE 2
## PARTH RATHOD
## NLP FALL 2021
## A20458817

### Secondary DataSet

In [1]:
from sklearn.metrics import cohen_kappa_score
import pandas as pd

#### 1)  change_topic_0

###### 1.1) Implementing for CHANGE.ORG_TOPIC_0_LOCKDOWN CSV File

In [2]:
df_chg_0_lock = pd.read_csv(r"D:\Temp\As\change.org_topic_0_lockdowns.csv")

score_0_96_53_lock = cohen_kappa_score(df_chg_0_lock.annotation_96, df_chg_0_lock.annotation_53)
score_0_96_93_lock = cohen_kappa_score(df_chg_0_lock.annotation_96,df_chg_0_lock.annotation_93)
score_0_96_94_lock = cohen_kappa_score(df_chg_0_lock.annotation_96,df_chg_0_lock.annotation_94)
score_0_96_95_lock = cohen_kappa_score(df_chg_0_lock.annotation_96,df_chg_0_lock.annotation_95)
score_0_53_93_lock = cohen_kappa_score(df_chg_0_lock.annotation_53,df_chg_0_lock.annotation_93)
score_0_53_94_lock = cohen_kappa_score(df_chg_0_lock.annotation_53,df_chg_0_lock.annotation_94)
score_0_53_95_lock = cohen_kappa_score(df_chg_0_lock.annotation_53,df_chg_0_lock.annotation_95)
score_0_93_94_lock = cohen_kappa_score(df_chg_0_lock.annotation_93,df_chg_0_lock.annotation_94)
score_0_93_95_lock = cohen_kappa_score(df_chg_0_lock.annotation_93,df_chg_0_lock.annotation_95)
score_0_94_95_lock = cohen_kappa_score(df_chg_0_lock.annotation_94,df_chg_0_lock.annotation_95)

avg_score_0_96_lock = (score_0_96_53_lock + score_0_96_93_lock + score_0_96_94_lock + score_0_96_95_lock)/4
avg_score_0_53_lock = (score_0_96_53_lock + score_0_53_93_lock + score_0_53_95_lock + score_0_93_94_lock)/4
avg_score_0_93_lock = (score_0_96_93_lock + score_0_53_93_lock + score_0_93_94_lock + score_0_93_95_lock)/4
avg_score_0_94_lock = (score_0_96_94_lock + score_0_53_94_lock + score_0_93_94_lock + score_0_94_95_lock)/4
avg_score_0_95_lock = (score_0_96_95_lock + score_0_53_95_lock + score_0_93_95_lock + score_0_94_95_lock)/4

print("Average Score of Each Annotator for Lockdown File \n")
print("Average Score of Annotator 96:",avg_score_0_96_lock)
print("Average Score of Annotator 53:",avg_score_0_53_lock)
print("Average Score of Annotator 93:",avg_score_0_93_lock)
print("Average Score of Annotator 94:",avg_score_0_94_lock)
print("Average Score of Annotator 95:",avg_score_0_95_lock)

Average Score of Each Annotator for Lockdown File

Average Score of Annotator 96: 0.3767783800795567
Average Score of Annotator 53: 0.1589508430904273
Average Score of Annotator 93: 0.3456977184019719
Average Score of Annotator 94: 0.4282583348403162
Average Score of Annotator 95: 0.4248114868097386

Since the average score of Annotator 53 is less than 0.2 we are eliminating Annotator_53 decision

In [3]:
df_chg_0_lock = df_chg_0_lock.drop(columns='annotation_53',axis = 1)
df_chg_0_lock

,text,annotation_96,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False
3,Get Waled Home,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False
...,...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,True,True,False
296,Hazard pay for essential employees working wit...,False,False,False,False
297,Stop children being weighed in school without ...,False,False,False,False
298,Allow Visitors for Covid-19 Patients,True,False,False,False
299,Exigimos acciones de control y salud en la Res...,False,False,False,False

In [4]:
#Calculating Mode of Entire DataFrame
mode_0_lock = df_chg_0_lock.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_0_lock = pd.DataFrame(data = mode_0_lock)
df_mode_0_lock

         0     1
0    False   NaN
1    False   NaN
2    False   NaN
3    False   NaN
4    False   NaN
..     ...   ...
295  False  True
296  False   NaN
297  False   NaN
298  False   NaN
299  False   NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 94 has the highest Avg score.

In [5]:
#Merging
new = [df_chg_0_lock,df_mode_0_lock]
new_df = pd.concat(new,axis = 1)

#Renaming the column name 
new_df = new_df.rename(columns={0:"Final_Value" , 1:"Value2"})
new_df

,text,annotation_96,annotation_93,annotation_94,annotation_95,Final_Value,Value2
0,Language Education in the Time of COVID-19,False,False,False,False,False,NaN
1,COVID-19 Test Kits,False,False,False,False,False,NaN
2,COVID 19 IN PRISON,False,False,False,False,False,NaN
3,Get Waled Home,False,False,False,False,False,NaN
4,Make pass/fail available for Mississippi State...,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,True,True,False,False,True
296,Hazard pay for essential employees working wit...,False,False,False,False,False,NaN
297,Stop children being weighed in school without ...,False,False,False,False,False,NaN
298,Allow Visitors for Covid-19 Patients,True,False,False,False,False,NaN
299,Exigimos acciones de control y salud en la Res...,False,False,False,False,False,NaN

In [6]:
for idx,rows in new_df.iterrows():
    if new_df.Value2[idx] == True or new_df.Value2[idx] == False:
        new_df.Final_Value[idx] = new_df.annotation_94[idx]

<ipython-input-6-b7e8d5567d26>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.Final_Value[idx] = new_df.annotation_94[idx]

Setting the Annotators 94 Value to Final Value Column

In [7]:
final_df_0_lock = new_df.drop(['Value2'],axis = 1)
final_df_0_lock

,text,annotation_96,annotation_93,annotation_94,annotation_95,Final_Value
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False
...,...,...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,True,True,False,True
296,Hazard pay for essential employees working wit...,False,False,False,False,False
297,Stop children being weighed in school without ...,False,False,False,False,False
298,Allow Visitors for Covid-19 Patients,True,False,False,False,False
299,Exigimos acciones de control y salud en la Res...,False,False,False,False,False

###### 1.2) Implementing for CHANGE.ORG_0_masking_and_distancing

In [8]:
df_chg_0_mask = pd.read_csv(r"D:\Temp\As\change.org_topic_0_masking_and_distancing.csv")

score_0_96_53_mask = cohen_kappa_score(df_chg_0_mask.annotation_96, df_chg_0_mask.annotation_53)
score_0_96_93_mask = cohen_kappa_score(df_chg_0_mask.annotation_96,df_chg_0_mask.annotation_93)
score_0_96_94_mask = cohen_kappa_score(df_chg_0_mask.annotation_96,df_chg_0_mask.annotation_94)
score_0_96_95_mask = cohen_kappa_score(df_chg_0_mask.annotation_96,df_chg_0_mask.annotation_95)
score_0_53_93_mask = cohen_kappa_score(df_chg_0_mask.annotation_53,df_chg_0_mask.annotation_93)
score_0_53_94_mask = cohen_kappa_score(df_chg_0_mask.annotation_53,df_chg_0_mask.annotation_94)
score_0_53_95_mask = cohen_kappa_score(df_chg_0_mask.annotation_53,df_chg_0_mask.annotation_95)
score_0_93_94_mask = cohen_kappa_score(df_chg_0_mask.annotation_93,df_chg_0_mask.annotation_94)
score_0_93_95_mask = cohen_kappa_score(df_chg_0_mask.annotation_93,df_chg_0_mask.annotation_95)
score_0_94_95_mask = cohen_kappa_score(df_chg_0_mask.annotation_94,df_chg_0_mask.annotation_95)

avg_score_0_96_mask = (score_0_96_53_mask + score_0_96_93_mask + score_0_96_94_mask + score_0_96_95_mask)/4
avg_score_0_53_mask = (score_0_96_53_mask + score_0_53_93_mask + score_0_53_95_mask + score_0_93_94_mask)/4
avg_score_0_93_mask = (score_0_96_93_mask + score_0_53_93_mask + score_0_93_94_mask + score_0_93_95_mask)/4
avg_score_0_94_mask = (score_0_96_94_mask + score_0_53_94_mask + score_0_93_94_mask + score_0_94_95_mask)/4
avg_score_0_95_mask = (score_0_96_95_mask + score_0_53_95_mask + score_0_93_95_mask + score_0_94_95_mask)/4

print("Average Score of Each Annotator for Masking and Distancing File \n")
print("Average Score of Annotator 96:",avg_score_0_96_mask)
print("Average Score of Annotator 53:",avg_score_0_53_mask)
print("Average Score of Annotator 93:",avg_score_0_93_mask)
print("Average Score of Annotator 94:",avg_score_0_94_mask)
print("Average Score of Annotator 95:",avg_score_0_95_mask)

Average Score of Each Annotator for Masking and Distancing File

Average Score of Annotator 96: 0.2014534965592872
Average Score of Annotator 53: 0.05351068667772865
Average Score of Annotator 93: 0.13854987904274066
Average Score of Annotator 94: 0.1933687369210724
Average Score of Annotator 95: 0.2576172341374985

Since the average score of Annotator 93, Annotator 53, Annotator 94 is less than 0.2 we are eliminating such annotators decision

In [9]:
df_chg_0_mask = df_chg_0_mask.drop(columns=['annotation_93','annotation_53','annotation_94'],axis = 1)
df_chg_0_mask

,text,annotation_96,annotation_95
0,Language Education in the Time of COVID-19,False,False
1,COVID-19 Test Kits,False,False
2,COVID 19 IN PRISON,False,False
3,Get Waled Home,False,False
4,Make pass/fail available for Mississippi State...,False,False
...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,False
296,Hazard pay for essential employees working wit...,False,False
297,Stop children being weighed in school without ...,False,False
298,Allow Visitors for Covid-19 Patients,False,False
299,Exigimos acciones de control y salud en la Res...,False,False

In [10]:
#Calculating Mode of Entire DataFrame
mode_0_mask = df_chg_0_mask.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_0_mask = pd.DataFrame(data = mode_0_mask)
df_mode_0_mask

C:\Users\PARTH RATHOD\anaconda3\lib\site-packages\pandas\core\algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'bool'
  warn(f"Unable to sort modes: {err}")
C:\Users\PARTH RATHOD\anaconda3\lib\site-packages\pandas\core\algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'bool' and 'str'
  warn(f"Unable to sort modes: {err}")

         0    1    2
0    False  NaN  NaN
1    False  NaN  NaN
2    False  NaN  NaN
3    False  NaN  NaN
4    False  NaN  NaN
..     ...  ...  ...
295  False  NaN  NaN
296  False  NaN  NaN
297  False  NaN  NaN
298  False  NaN  NaN
299  False  NaN  NaN

[300 rows x 3 columns]

We can see that we have 3 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 95 has the highest Avg score.

In [11]:
#Merging
news = [df_chg_0_mask,df_mode_0_mask]
news_df = pd.concat(news,axis = 1)

#Renaming the column name 
news_df = news_df.rename(columns={0:"Final_Value" , 1:"Value2" , 2:"some_value"})
news_df

,text,annotation_96,annotation_95,Final_Value,Value2,some_value
0,Language Education in the Time of COVID-19,False,False,False,NaN,NaN
1,COVID-19 Test Kits,False,False,False,NaN,NaN
2,COVID 19 IN PRISON,False,False,False,NaN,NaN
3,Get Waled Home,False,False,False,NaN,NaN
4,Make pass/fail available for Mississippi State...,False,False,False,NaN,NaN
...,...,...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,False,False,NaN,NaN
296,Hazard pay for essential employees working wit...,False,False,False,NaN,NaN
297,Stop children being weighed in school without ...,False,False,False,NaN,NaN
298,Allow Visitors for Covid-19 Patients,False,False,False,NaN,NaN
299,Exigimos acciones de control y salud en la Res...,False,False,False,NaN,NaN

In [12]:
for idx,rows in news_df.iterrows():
    if news_df.Value2[idx] == True or news_df.Value2[idx] == False:
        news_df.Final_Value[idx] = news_df.annotation_95[idx]

<ipython-input-12-3064710dd933>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news_df.Final_Value[idx] = news_df.annotation_95[idx]

Setting the Annotators 95 Value to Final Value Column

In [13]:
final_df_0_mask = news_df.drop(['Value2','some_value'],axis = 1)
final_df_0_mask

,text,annotation_96,annotation_95,Final_Value
0,Language Education in the Time of COVID-19,False,False,False
1,COVID-19 Test Kits,False,False,False
2,COVID 19 IN PRISON,False,False,False
3,Get Waled Home,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False
...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,False,False
296,Hazard pay for essential employees working wit...,False,False,False
297,Stop children being weighed in school without ...,False,False,False
298,Allow Visitors for Covid-19 Patients,False,False,False
299,Exigimos acciones de control y salud en la Res...,False,False,False

###### 1.3) Implementing for CHANGE.ORG_topic_0_vaccination

In [14]:
df_chg_0_vacc = pd.read_csv(r"D:\Temp\As\change.org_topic_0_vaccination.csv")

score_0_96_53_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_96, df_chg_0_vacc.annotation_53)
score_0_96_93_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_96,df_chg_0_vacc.annotation_93)
score_0_96_94_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_96,df_chg_0_vacc.annotation_94)
score_0_96_95_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_96,df_chg_0_vacc.annotation_95)
score_0_53_93_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_53,df_chg_0_vacc.annotation_93)
score_0_53_94_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_53,df_chg_0_vacc.annotation_94)
score_0_53_95_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_53,df_chg_0_vacc.annotation_95)
score_0_93_94_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_93,df_chg_0_vacc.annotation_94)
score_0_93_95_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_93,df_chg_0_vacc.annotation_95)
score_0_94_95_vacc = cohen_kappa_score(df_chg_0_vacc.annotation_94,df_chg_0_vacc.annotation_95)

avg_score_0_96_vacc = (score_0_96_53_vacc + score_0_96_93_vacc + score_0_96_94_vacc + score_0_96_95_vacc)/4
avg_score_0_53_vacc = (score_0_96_53_vacc + score_0_53_93_vacc + score_0_53_95_vacc + score_0_93_94_vacc)/4
avg_score_0_93_vacc = (score_0_96_93_vacc + score_0_53_93_vacc + score_0_93_94_vacc + score_0_93_95_vacc)/4
avg_score_0_94_vacc = (score_0_96_94_vacc + score_0_53_94_vacc + score_0_93_94_vacc + score_0_94_95_vacc)/4
avg_score_0_95_vacc = (score_0_96_95_vacc + score_0_53_95_vacc + score_0_93_95_vacc + score_0_94_95_vacc)/4

print("Average Score of Each Annotator for Vaccination File \n")
print("Average Score of Annotator 96:",avg_score_0_96_vacc)
print("Average Score of Annotator 53:",avg_score_0_53_vacc)
print("Average Score of Annotator 93:",avg_score_0_93_vacc)
print("Average Score of Annotator 94:",avg_score_0_94_vacc)
print("Average Score of Annotator 95:",avg_score_0_95_vacc)

Average Score of Each Annotator for Vaccination File

Average Score of Annotator 96: 0.12217198608644952
Average Score of Annotator 53: 0.11929790187446818
Average Score of Annotator 93: 0.2621759843646737
Average Score of Annotator 94: 0.2509715151694918
Average Score of Annotator 95: 0.13697043678091242

Since the average score of Annotator 96, Annotator 53, Annotator 95 is less than 0.2 we are eliminating such annotators decision

In [15]:
df_chg_0_vacc = df_chg_0_vacc.drop(columns=['annotation_96','annotation_53','annotation_95'],axis = 1)
df_chg_0_vacc

,text,annotation_93,annotation_94
0,Language Education in the Time of COVID-19,False,False
1,COVID-19 Test Kits,False,False
2,COVID 19 IN PRISON,False,False
3,Get Waled Home,False,False
4,Make pass/fail available for Mississippi State...,False,False
...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,False
296,Hazard pay for essential employees working wit...,False,False
297,Stop children being weighed in school without ...,False,False
298,Allow Visitors for Covid-19 Patients,False,False
299,Exigimos acciones de control y salud en la Res...,False,False

In [16]:
#Calculating Mode of Entire DataFrame
mode_0_vacc = df_chg_0_vacc.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_0_vacc = pd.DataFrame(data = mode_0_vacc)
df_mode_0_vacc

C:\Users\PARTH RATHOD\anaconda3\lib\site-packages\pandas\core\algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'bool' and 'str'
  warn(f"Unable to sort modes: {err}")
C:\Users\PARTH RATHOD\anaconda3\lib\site-packages\pandas\core\algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'bool'
  warn(f"Unable to sort modes: {err}")

         0    1    2
0    False  NaN  NaN
1    False  NaN  NaN
2    False  NaN  NaN
3    False  NaN  NaN
4    False  NaN  NaN
..     ...  ...  ...
295  False  NaN  NaN
296  False  NaN  NaN
297  False  NaN  NaN
298  False  NaN  NaN
299  False  NaN  NaN

[300 rows x 3 columns]

We can see that we have 3 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 93 has the highest Avg score.

In [17]:
#Merging
newss = [df_chg_0_vacc,df_mode_0_vacc]
newss_df = pd.concat(newss,axis = 1)

#Renaming the column name 
newss_df = newss_df.rename(columns={0:"Final_Value" , 1:"Value2" , 2:"some_value"})
newss_df

,text,annotation_93,annotation_94,Final_Value,Value2,some_value
0,Language Education in the Time of COVID-19,False,False,False,NaN,NaN
1,COVID-19 Test Kits,False,False,False,NaN,NaN
2,COVID 19 IN PRISON,False,False,False,NaN,NaN
3,Get Waled Home,False,False,False,NaN,NaN
4,Make pass/fail available for Mississippi State...,False,False,False,NaN,NaN
...,...,...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,False,False,NaN,NaN
296,Hazard pay for essential employees working wit...,False,False,False,NaN,NaN
297,Stop children being weighed in school without ...,False,False,False,NaN,NaN
298,Allow Visitors for Covid-19 Patients,False,False,False,NaN,NaN
299,Exigimos acciones de control y salud en la Res...,False,False,False,NaN,NaN

In [18]:
for idx,rows in newss_df.iterrows():
    if newss_df.Value2[idx] == True or newss_df.Value2[idx] == False:
        newss_df.Final_Value[idx] = newss_df.annotation_93[idx]

<ipython-input-18-d287981c2198>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newss_df.Final_Value[idx] = newss_df.annotation_93[idx]

In [19]:
final_df_0_vacc = newss_df.drop(['Value2' , 'some_value'],axis = 1)
final_df_0_vacc

,text,annotation_93,annotation_94,Final_Value
0,Language Education in the Time of COVID-19,False,False,False
1,COVID-19 Test Kits,False,False,False
2,COVID 19 IN PRISON,False,False,False
3,Get Waled Home,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False
...,...,...,...,...
295,Cancellation of Lebanese Official Exams for 20...,False,False,False
296,Hazard pay for essential employees working wit...,False,False,False
297,Stop children being weighed in school without ...,False,False,False
298,Allow Visitors for Covid-19 Patients,False,False,False
299,Exigimos acciones de control y salud en la Res...,False,False,False

#### 2)  CHANGE.ORG_topic_1

###### 1.1) Implementing for CHANGE.ORG_TOPIC_1_LOCKDOWN CSV File

In [20]:
df_chg_1_lock = pd.read_csv(r"D:\Temp\As\change.org_topic_1_lockdowns.csv")

score_1_112_109_lock = cohen_kappa_score(df_chg_1_lock.annotation_112, df_chg_1_lock.annotation_109)
score_1_112_110_lock = cohen_kappa_score(df_chg_1_lock.annotation_112,df_chg_1_lock.annotation_110)
score_1_112_111_lock = cohen_kappa_score(df_chg_1_lock.annotation_112,df_chg_1_lock.annotation_111)
score_1_109_110_lock = cohen_kappa_score(df_chg_1_lock.annotation_109,df_chg_1_lock.annotation_110)
score_1_109_111_lock = cohen_kappa_score(df_chg_1_lock.annotation_109,df_chg_1_lock.annotation_111)
score_1_110_111_lock = cohen_kappa_score(df_chg_1_lock.annotation_110,df_chg_1_lock.annotation_111)

avg_score_1_112_lock = (score_1_112_109_lock + score_1_112_110_lock + score_1_112_111_lock)/3
avg_score_1_109_lock = (score_1_112_109_lock + score_1_109_110_lock + score_1_109_111_lock)/3
avg_score_1_110_lock = (score_1_112_110_lock + score_1_109_110_lock + score_1_110_111_lock)/3
avg_score_1_111_lock = (score_1_112_111_lock + score_1_109_111_lock + score_1_110_111_lock)/3

print("Average Score of Each Annotator for Lockdown File \n")
print("Average Score of Annotator 112:",avg_score_1_112_lock)
print("Average Score of Annotator 109:",avg_score_1_109_lock)
print("Average Score of Annotator 110:",avg_score_1_110_lock)
print("Average Score of Annotator 111:",avg_score_1_111_lock)

Average Score of Each Annotator for Lockdown File

Average Score of Annotator 112: 0.39364100293054943
Average Score of Annotator 109: 0.46609505372517274
Average Score of Annotator 110: 0.35665361565697995
Average Score of Annotator 111: 0.30649557663999455

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [21]:
#Calculating Mode of Entire DataFrame
mode_1_lock = df_chg_1_lock.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_1_lock = pd.DataFrame(data = mode_1_lock)
df_mode_1_lock

         0     1
0    False   NaN
1    False   NaN
2    False  True
3    False   NaN
4     True   NaN
..     ...   ...
295  False   NaN
296  False   NaN
297   True   NaN
298   True   NaN
299  False   NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 68 has the highest Avg score.

In [22]:
#Merging
neww = [df_chg_1_lock,df_mode_1_lock]
neww_df = pd.concat(neww,axis = 1)

#Renaming the column name 
neww_df = neww_df.rename(columns={0:"Final_Value" , 1:"Value2"})
neww_df

,text,annotation_112,annotation_109,annotation_110,annotation_111,Final_Value,Value2
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False,False,NaN
1,Compensate Essential Workers,False,False,False,True,False,NaN
2,Amend Recent COVID-19 Restrictions for Persona...,False,True,True,False,False,True
3,Petition against COVID-19 & Quarantine Bill: S...,True,False,False,False,False,NaN
4,KCL Has Coronavirus Case: Petition to Have Onl...,True,True,True,False,True,NaN
...,...,...,...,...,...,...,...
295,Cover Covid19 Exposed or Contracted Longshore ...,False,False,False,False,False,NaN
296,"SAY NO to using the Wyndham, Fresh Meadows to ...",False,False,False,False,False,NaN
297,Postpone VTU exams,True,True,True,True,True,NaN
298,Help convince Inslee and WIAA to allow HS spri...,True,True,True,True,True,NaN
299,NZTR: Shifting the two Guineas Group One races...,False,False,False,False,False,NaN

In [23]:
for idx,rows in neww_df.iterrows():
    if neww_df.Value2[idx] == True or neww_df.Value2[idx] == False:
        neww_df.Final_Value[idx] = neww_df.annotation_109[idx]

<ipython-input-23-95737466ff94>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neww_df.Final_Value[idx] = neww_df.annotation_109[idx]

Setting the Annotators 109 Value to Final Value Column

In [24]:
final_df_1_lock = neww_df.drop(['Value2'],axis = 1)
final_df_1_lock

,text,annotation_112,annotation_109,annotation_110,annotation_111,Final_Value
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False,False
1,Compensate Essential Workers,False,False,False,True,False
2,Amend Recent COVID-19 Restrictions for Persona...,False,True,True,False,True
3,Petition against COVID-19 & Quarantine Bill: S...,True,False,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,True,True,True,False,True
...,...,...,...,...,...,...
295,Cover Covid19 Exposed or Contracted Longshore ...,False,False,False,False,False
296,"SAY NO to using the Wyndham, Fresh Meadows to ...",False,False,False,False,False
297,Postpone VTU exams,True,True,True,True,True
298,Help convince Inslee and WIAA to allow HS spri...,True,True,True,True,True
299,NZTR: Shifting the two Guineas Group One races...,False,False,False,False,False

###### 2.2) Implementing for CHANGE.ORG_TOPIC_1_Masking_and_Distancing CSV File

In [25]:
df_chg_1_mask = pd.read_csv(r"D:\Temp\As\change.org_topic_1_masking_and_distancing.csv")

score_1_112_109_mask = cohen_kappa_score(df_chg_1_mask.annotation_112, df_chg_1_mask.annotation_109)
score_1_112_110_mask = cohen_kappa_score(df_chg_1_mask.annotation_112,df_chg_1_mask.annotation_110)
score_1_112_111_mask = cohen_kappa_score(df_chg_1_mask.annotation_112,df_chg_1_mask.annotation_111)
score_1_109_110_mask = cohen_kappa_score(df_chg_1_mask.annotation_109,df_chg_1_mask.annotation_110)
score_1_109_111_mask = cohen_kappa_score(df_chg_1_mask.annotation_109,df_chg_1_mask.annotation_111)
score_1_110_111_mask = cohen_kappa_score(df_chg_1_mask.annotation_110,df_chg_1_mask.annotation_111)

avg_score_1_112_mask = (score_1_112_109_mask + score_1_112_110_mask + score_1_112_111_mask)/3
avg_score_1_109_mask = (score_1_112_109_mask + score_1_109_110_mask + score_1_109_111_mask)/3
avg_score_1_110_mask = (score_1_112_110_mask + score_1_109_110_mask + score_1_110_111_mask)/3
avg_score_1_111_mask = (score_1_112_111_mask + score_1_109_111_mask + score_1_110_111_mask)/3

print("Average Score of Each Annotator for Masking and Distancing File \n")
print("Average Score of Annotator 112:",avg_score_1_112_mask)
print("Average Score of Annotator 109:",avg_score_1_109_mask)
print("Average Score of Annotator 110:",avg_score_1_110_mask)
print("Average Score of Annotator 111:",avg_score_1_111_mask)

Average Score of Each Annotator for Masking and Distancing File

Average Score of Annotator 112: 0.3271023526433893
Average Score of Annotator 109: 0.24974818844627159
Average Score of Annotator 110: 0.2965985925198738
Average Score of Annotator 111: 0.21345848907986684

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [26]:
#Calculating Mode of Entire DataFrame
mode_1_mask = df_chg_1_mask.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_1_mask = pd.DataFrame(data = mode_1_mask)
df_mode_1_mask

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295   True  NaN
296  False  NaN
297  False  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 110 has the highest Avg score.

In [27]:
#Merging
newws = [df_chg_1_mask,df_mode_1_mask]
newws_df = pd.concat(newws,axis = 1)

#Renaming the column name 
newws_df = newws_df.rename(columns={0:"Final_Value" , 1:"Value2"})
newws_df

,text,annotation_112,annotation_109,annotation_110,annotation_111,Final_Value,Value2
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False,False,NaN
1,Compensate Essential Workers,False,False,False,True,False,NaN
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False,True,False,NaN
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False,False,False,NaN
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,Cover Covid19 Exposed or Contracted Longshore ...,True,False,True,True,True,NaN
296,"SAY NO to using the Wyndham, Fresh Meadows to ...",False,False,False,False,False,NaN
297,Postpone VTU exams,False,False,False,False,False,NaN
298,Help convince Inslee and WIAA to allow HS spri...,False,False,False,False,False,NaN
299,NZTR: Shifting the two Guineas Group One races...,False,False,False,False,False,NaN

In [28]:
for idx,rows in newws_df.iterrows():
    if newws_df.Value2[idx] == True or newws_df.Value2[idx] == False:
        newws_df.Final_Value[idx] = newws_df.annotation_110[idx]

<ipython-input-28-d8ad8e1ba7fa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newws_df.Final_Value[idx] = newws_df.annotation_110[idx]

Setting the Annotators 110 Value to Final Value Column

In [29]:
final_df_1_mask = newws_df.drop(['Value2'],axis = 1)
final_df_1_mask

,text,annotation_112,annotation_109,annotation_110,annotation_111,Final_Value
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False,False
1,Compensate Essential Workers,False,False,False,True,False
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False,True,False
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False,False,False
...,...,...,...,...,...,...
295,Cover Covid19 Exposed or Contracted Longshore ...,True,False,True,True,True
296,"SAY NO to using the Wyndham, Fresh Meadows to ...",False,False,False,False,False
297,Postpone VTU exams,False,False,False,False,False
298,Help convince Inslee and WIAA to allow HS spri...,False,False,False,False,False
299,NZTR: Shifting the two Guineas Group One races...,False,False,False,False,False

###### 2.3) Implementing for CHANGE.ORG_TOPIC_1_Vaccination CSV File

In [30]:
df_chg_1_vacc = pd.read_csv(r"D:\Temp\As\change.org_topic_1_vaccination.csv")

score_1_112_109_vacc = cohen_kappa_score(df_chg_1_vacc.annotation_112, df_chg_1_vacc.annotation_109)
score_1_112_110_vacc = cohen_kappa_score(df_chg_1_vacc.annotation_112,df_chg_1_vacc.annotation_110)
score_1_112_111_vacc = cohen_kappa_score(df_chg_1_vacc.annotation_112,df_chg_1_vacc.annotation_111)
score_1_109_110_vacc = cohen_kappa_score(df_chg_1_vacc.annotation_109,df_chg_1_vacc.annotation_110)
score_1_109_111_vacc = cohen_kappa_score(df_chg_1_vacc.annotation_109,df_chg_1_vacc.annotation_111)
score_1_110_111_vacc = cohen_kappa_score(df_chg_1_vacc.annotation_110,df_chg_1_vacc.annotation_111)

avg_score_1_112_vacc = (score_1_112_109_vacc + score_1_112_110_vacc + score_1_112_111_vacc)/3
avg_score_1_109_vacc = (score_1_112_109_vacc + score_1_109_110_vacc + score_1_109_111_vacc)/3
avg_score_1_110_vacc = (score_1_112_110_vacc + score_1_109_110_vacc + score_1_110_111_vacc)/3
avg_score_1_111_vacc = (score_1_112_111_vacc + score_1_109_111_vacc + score_1_110_111_vacc)/3

print("Average Score of Each Annotator for Vaccination File \n")
print("Average Score of Annotator 112:",avg_score_1_112_vacc)
print("Average Score of Annotator 109:",avg_score_1_109_vacc)
print("Average Score of Annotator 110:",avg_score_1_110_vacc)
print("Average Score of Annotator 111:",avg_score_1_111_vacc)

Average Score of Each Annotator for Vaccination File

Average Score of Annotator 112: 0.4071067270825585
Average Score of Annotator 109: 0.41143158404552654
Average Score of Annotator 110: 0.33597392235776047
Average Score of Annotator 111: 0.15714412525374102

Since the average score of Annotator 111 is less than 0.2 we are eliminating such annotators decision

In [31]:
df_chg_1_vacc = df_chg_1_vacc.drop(columns=['annotation_111'],axis = 1)
df_chg_1_vacc

,text,annotation_112,annotation_109,annotation_110
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,True,True,True
1,Compensate Essential Workers,False,False,True
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False
...,...,...,...,...
295,Cover Covid19 Exposed or Contracted Longshore ...,False,True,True
296,"SAY NO to using the Wyndham, Fresh Meadows to ...",False,False,False
297,Postpone VTU exams,False,False,False
298,Help convince Inslee and WIAA to allow HS spri...,False,False,False
299,NZTR: Shifting the two Guineas Group One races...,False,False,False

In [32]:
#Calculating Mode of Entire DataFrame
mode_1_vacc = df_chg_1_vacc.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_1_vacc = pd.DataFrame(data = mode_1_vacc)
df_mode_1_vacc

         0
0     True
1    False
2    False
3    False
4    False
..     ...
295   True
296  False
297  False
298  False
299  False

[300 rows x 1 columns]

In [33]:
#Merging
newwss = [df_chg_1_vacc,df_mode_1_vacc]
newwss_df = pd.concat(newwss,axis = 1)

#Renaming the column name 
final_df_1_vacc = newwss_df.rename(columns={0:"Final_Value"})
final_df_1_vacc

,text,annotation_112,annotation_109,annotation_110,Final_Value
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,True,True,True,True
1,Compensate Essential Workers,False,False,True,False
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False,False
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False,False
...,...,...,...,...,...
295,Cover Covid19 Exposed or Contracted Longshore ...,False,True,True,True
296,"SAY NO to using the Wyndham, Fresh Meadows to ...",False,False,False,False
297,Postpone VTU exams,False,False,False,False
298,Help convince Inslee and WIAA to allow HS spri...,False,False,False,False
299,NZTR: Shifting the two Guineas Group One races...,False,False,False,False

#### 3)  CHANGE.ORG_topic_2

###### 3.1) Implementing for CHANGE.ORG_TOPIC_2_Lockdown CSV File

In [34]:
df_chg_2_lock = pd.read_csv(r"D:\Temp\As\change.org_topic_2_lockdowns.csv")

score_2_73_74_lock = cohen_kappa_score(df_chg_2_lock.annotation_73,df_chg_2_lock.annotation_74)
score_2_73_75_lock = cohen_kappa_score(df_chg_2_lock.annotation_73,df_chg_2_lock.annotation_75)
score_2_73_76_lock = cohen_kappa_score(df_chg_2_lock.annotation_73,df_chg_2_lock.annotation_76)
score_2_74_75_lock = cohen_kappa_score(df_chg_2_lock.annotation_74,df_chg_2_lock.annotation_75)
score_2_74_76_lock = cohen_kappa_score(df_chg_2_lock.annotation_74,df_chg_2_lock.annotation_76)
score_2_75_76_lock = cohen_kappa_score(df_chg_2_lock.annotation_75,df_chg_2_lock.annotation_76)

avg_score_2_73_lock = (score_2_73_74_lock + score_2_73_75_lock + score_2_73_76_lock)/3
avg_score_2_74_lock = (score_2_73_74_lock + score_2_74_75_lock + score_2_74_76_lock)/3
avg_score_2_75_lock = (score_2_73_75_lock + score_2_74_75_lock + score_2_75_76_lock)/3
avg_score_2_76_lock = (score_2_73_76_lock + score_2_74_76_lock + score_2_75_76_lock)/3

print("Average Score of Each Annotator in Lockdown File \n")
print("Average Score of Annotator 73:",avg_score_2_73_lock)
print("Average Score of Annotator 74:",avg_score_2_74_lock)
print("Average Score of Annotator 75:",avg_score_2_75_lock)
print("Average Score of Annotator 76:",avg_score_2_76_lock)

Average Score of Each Annotator in Lockdown File

Average Score of Annotator 73: 0.622806139472806
Average Score of Annotator 74: 0.6427222846004447
Average Score of Annotator 75: 0.47905378802347115
Average Score of Annotator 76: 0.6476747126970107

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [35]:
#Calculating Mode of Entire DataFrame
mode_2_lock = df_chg_2_lock.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_2_lock = pd.DataFrame(data = mode_2_lock)
df_mode_2_lock

         0    1
0    False  NaN
1     True  NaN
2    False  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295  False  NaN
296   True  NaN
297  False  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 76 has the highest Avg score.

In [36]:
#Merging
newwsss = [df_chg_2_lock,df_mode_2_lock]
newwsss_df = pd.concat(newwsss,axis = 1)

#Renaming the column name 
newwsss_df = newwsss_df.rename(columns={0:"Final_Value" , 1:"Value2"})
newwsss_df

,text,annotation_73,annotation_74,annotation_75,annotation_76,Final_Value,Value2
0,COVID-19 Awards,False,False,False,False,False,NaN
1,Cancel the 2020-2021 school year SOLs,True,True,False,True,True,NaN
2,..,False,False,False,False,False,NaN
3,Protect our nurses!,False,False,False,False,False,NaN
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,True,False,NaN
...,...,...,...,...,...,...,...
295,Don't let new immigrants fall through the crac...,False,True,False,False,False,NaN
296,Protect our TWU community from COVID-19 by sus...,True,True,True,False,True,NaN
297,Urgent Action Needed: Strengthen Ethnic Studie...,False,False,False,False,False,NaN
298,No More Live Markets - make the difference,False,False,False,False,False,NaN
299,SAVE THE NORTHCOTE PUBLIC GOLF COURSE,True,False,False,False,False,NaN

In [37]:
for idx,rows in newwsss_df.iterrows():
    if newwsss_df.Value2[idx] == True or newwsss_df.Value2[idx] == False:
        newwsss_df.Final_Value[idx] = newwsss_df.annotation_76[idx]

<ipython-input-37-88b2eb6f7ad1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newwsss_df.Final_Value[idx] = newwsss_df.annotation_76[idx]

Setting the Annotators 76 Value to Final Value Column

In [38]:
final_df_2_lock = newwsss_df.drop(['Value2'],axis = 1)
final_df_2_lock

,text,annotation_73,annotation_74,annotation_75,annotation_76,Final_Value
0,COVID-19 Awards,False,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,True,True,False,True,True
2,..,False,False,False,False,False
3,Protect our nurses!,False,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,True,False
...,...,...,...,...,...,...
295,Don't let new immigrants fall through the crac...,False,True,False,False,False
296,Protect our TWU community from COVID-19 by sus...,True,True,True,False,True
297,Urgent Action Needed: Strengthen Ethnic Studie...,False,False,False,False,False
298,No More Live Markets - make the difference,False,False,False,False,False
299,SAVE THE NORTHCOTE PUBLIC GOLF COURSE,True,False,False,False,False

###### 3.2) Implementing for NYT_TOPIC_2_Masking_and_Distancing CSV File

In [39]:
df_chg_2_mask = pd.read_csv(r"D:\Temp\As\change.org_topic_2_masking_and_distancing.csv")

score_2_73_74_mask = cohen_kappa_score(df_chg_2_mask.annotation_73,df_chg_2_mask.annotation_74)
score_2_73_75_mask = cohen_kappa_score(df_chg_2_mask.annotation_73,df_chg_2_mask.annotation_75)
score_2_73_76_mask = cohen_kappa_score(df_chg_2_mask.annotation_73,df_chg_2_mask.annotation_76)
score_2_74_75_mask = cohen_kappa_score(df_chg_2_mask.annotation_74,df_chg_2_mask.annotation_75)
score_2_74_76_mask = cohen_kappa_score(df_chg_2_mask.annotation_74,df_chg_2_mask.annotation_76)
score_2_75_76_mask = cohen_kappa_score(df_chg_2_mask.annotation_75,df_chg_2_mask.annotation_76)

avg_score_2_73_mask = (score_2_73_74_mask + score_2_73_75_mask + score_2_73_76_mask)/3
avg_score_2_74_mask = (score_2_73_74_mask + score_2_74_75_mask + score_2_74_76_mask)/3
avg_score_2_75_mask = (score_2_73_75_mask + score_2_74_75_mask + score_2_75_76_mask)/3
avg_score_2_76_mask = (score_2_73_76_mask + score_2_74_76_mask + score_2_75_76_mask)/3

print("Average Score of Each Annotator in  Masking and Distancing File \n")
print("Average Score of Annotator 73:",avg_score_2_73_mask)
print("Average Score of Annotator 74:",avg_score_2_74_mask)
print("Average Score of Annotator 75:",avg_score_2_75_mask)
print("Average Score of Annotator 76:",avg_score_2_76_mask)

Average Score of Each Annotator in  Masking and Distancing File

Average Score of Annotator 73: 0.20377207915199477
Average Score of Annotator 74: 0.22058691129610516
Average Score of Annotator 75: 0.0
Average Score of Annotator 76: 0.19804460560689363

Since the average score of Annotator 75 and Annotator 76 is less than 0.2 we are eliminating such annotators decision

In [40]:
df_chg_2_mask = df_chg_2_mask.drop(columns=['annotation_75','annotation_76'],axis = 1)
df_chg_2_mask

,text,annotation_73,annotation_74
0,COVID-19 Awards,False,False
1,Cancel the 2020-2021 school year SOLs,False,False
2,..,False,False
3,Protect our nurses!,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False
...,...,...,...
295,Don't let new immigrants fall through the crac...,False,False
296,Protect our TWU community from COVID-19 by sus...,False,True
297,Urgent Action Needed: Strengthen Ethnic Studie...,False,False
298,No More Live Markets - make the difference,False,False
299,SAVE THE NORTHCOTE PUBLIC GOLF COURSE,False,False

In [41]:
#Calculating Mode of Entire DataFrame
mode_2_mask = df_chg_2_mask.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_2_mask = pd.DataFrame(data = mode_2_mask)
df_mode_2_mask

C:\Users\PARTH RATHOD\anaconda3\lib\site-packages\pandas\core\algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'bool'
  warn(f"Unable to sort modes: {err}")
C:\Users\PARTH RATHOD\anaconda3\lib\site-packages\pandas\core\algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'bool' and 'str'
  warn(f"Unable to sort modes: {err}")

         0     1                                                  2
0    False   NaN                                                NaN
1    False   NaN                                                NaN
2    False   NaN                                                NaN
3    False   NaN                                                NaN
4    False   NaN                                                NaN
..     ...   ...                                                ...
295  False   NaN                                                NaN
296  False  True  Protect our TWU community from COVID-19 by sus...
297  False   NaN                                                NaN
298  False   NaN                                                NaN
299  False   NaN                                                NaN

[300 rows x 3 columns]

We can see that we have 3 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 74 has the highest Avg score.

In [42]:
#Merging
newwwsss = [df_chg_2_mask,df_mode_2_mask]
newwwsss_df = pd.concat(newwwsss,axis = 1)

#Renaming the column name 
newwwsss_df = newwwsss_df.rename(columns={0:"Final_Value" , 1:"Value2", 2:"some_value"})
newwwsss_df

,text,annotation_73,annotation_74,Final_Value,Value2,some_value
0,COVID-19 Awards,False,False,False,NaN,NaN
1,Cancel the 2020-2021 school year SOLs,False,False,False,NaN,NaN
2,..,False,False,False,NaN,NaN
3,Protect our nurses!,False,False,False,NaN,NaN
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,NaN,NaN
...,...,...,...,...,...,...
295,Don't let new immigrants fall through the crac...,False,False,False,NaN,NaN
296,Protect our TWU community from COVID-19 by sus...,False,True,False,True,Protect our TWU community from COVID-19 by sus...
297,Urgent Action Needed: Strengthen Ethnic Studie...,False,False,False,NaN,NaN
298,No More Live Markets - make the difference,False,False,False,NaN,NaN
299,SAVE THE NORTHCOTE PUBLIC GOLF COURSE,False,False,False,NaN,NaN

In [43]:
for idx,rows in newwwsss_df.iterrows():
    if newwwsss_df.Value2[idx] == True or newwwsss_df.Value2[idx] == False:
        newwwsss_df.Final_Value[idx] = newwwsss_df.annotation_74[idx]

<ipython-input-43-d56b0f8e5f98>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newwwsss_df.Final_Value[idx] = newwwsss_df.annotation_74[idx]

Setting the Annotators 74 Value to Final Value Column

In [44]:
final_df_2_mask = newwwsss_df.drop(['Value2','some_value'],axis = 1)
final_df_2_mask

,text,annotation_73,annotation_74,Final_Value
0,COVID-19 Awards,False,False,False
1,Cancel the 2020-2021 school year SOLs,False,False,False
2,..,False,False,False
3,Protect our nurses!,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False
...,...,...,...,...
295,Don't let new immigrants fall through the crac...,False,False,False
296,Protect our TWU community from COVID-19 by sus...,False,True,True
297,Urgent Action Needed: Strengthen Ethnic Studie...,False,False,False
298,No More Live Markets - make the difference,False,False,False
299,SAVE THE NORTHCOTE PUBLIC GOLF COURSE,False,False,False

###### 3.3) Implementing for CHANGE.ORG_TOPIC_2_Vaccination CSV File

In [45]:
df_chg_2_vacc = pd.read_csv(r"D:\Temp\As\change.org_topic_2_vaccination.csv")

score_2_73_74_vacc = cohen_kappa_score(df_chg_2_vacc.annotation_73,df_chg_2_vacc.annotation_74)
score_2_73_75_vacc = cohen_kappa_score(df_chg_2_vacc.annotation_73,df_chg_2_vacc.annotation_75)
score_2_73_76_vacc = cohen_kappa_score(df_chg_2_vacc.annotation_73,df_chg_2_vacc.annotation_76)
score_2_74_75_vacc = cohen_kappa_score(df_chg_2_vacc.annotation_74,df_chg_2_vacc.annotation_75)
score_2_74_76_vacc = cohen_kappa_score(df_chg_2_vacc.annotation_74,df_chg_2_vacc.annotation_76)
score_2_75_76_vacc = cohen_kappa_score(df_chg_2_vacc.annotation_75,df_chg_2_vacc.annotation_76)

avg_score_2_73_vacc = (score_2_73_74_vacc + score_2_73_75_vacc + score_2_73_76_vacc)/3
avg_score_2_74_vacc = (score_2_73_74_vacc + score_2_74_75_vacc + score_2_74_76_vacc)/3
avg_score_2_75_vacc = (score_2_73_75_vacc + score_2_74_75_vacc + score_2_75_76_vacc)/3
avg_score_2_76_vacc = (score_2_73_76_vacc + score_2_74_76_vacc + score_2_75_76_vacc)/3

print("Average Score of Each Annotator in  Vaccination File \n")
print("Average Score of Annotator 73:",avg_score_2_73_vacc)
print("Average Score of Annotator 74:",avg_score_2_74_vacc)
print("Average Score of Annotator 75:",avg_score_2_75_vacc)
print("Average Score of Annotator 76:",avg_score_2_76_vacc)

Average Score of Each Annotator in  Vaccination File

Average Score of Annotator 73: 0.6519690422129448
Average Score of Annotator 74: 0.7854252367909931
Average Score of Annotator 75: 0.5834154561380728
Average Score of Annotator 76: 0.7501466670105877

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [46]:
#Calculating Mode of Entire DataFrame
mode_2_vacc = df_chg_2_vacc.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_2_vacc = pd.DataFrame(data = mode_2_vacc)
df_mode_2_vacc

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295  False  NaN
296  False  NaN
297  False  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 76 has the highest Avg score.

In [47]:
#Merging
neewwwsss = [df_chg_2_vacc,df_mode_2_vacc]
neewwwsss_df = pd.concat(neewwwsss,axis = 1)

#Renaming the column name 
neewwwsss_df = neewwwsss_df.rename(columns={0:"Final_Value" , 1:"Value2"})
neewwwsss_df

,text,annotation_73,annotation_74,annotation_75,annotation_76,Final_Value,Value2
0,COVID-19 Awards,False,False,False,False,False,NaN
1,Cancel the 2020-2021 school year SOLs,False,False,False,False,False,NaN
2,..,False,False,False,False,False,NaN
3,Protect our nurses!,False,False,False,False,False,NaN
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,Don't let new immigrants fall through the crac...,False,False,False,False,False,NaN
296,Protect our TWU community from COVID-19 by sus...,False,False,False,False,False,NaN
297,Urgent Action Needed: Strengthen Ethnic Studie...,False,False,False,False,False,NaN
298,No More Live Markets - make the difference,False,False,False,False,False,NaN
299,SAVE THE NORTHCOTE PUBLIC GOLF COURSE,False,False,False,False,False,NaN

In [48]:
for idx,rows in neewwwsss_df.iterrows():
    if neewwwsss_df.Value2[idx] == True or neewwwsss_df.Value2[idx] == False:
        neewwwsss_df.Final_Value[idx] = neewwwsss_df.annotation_76[idx]

<ipython-input-48-6df52958c058>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neewwwsss_df.Final_Value[idx] = neewwwsss_df.annotation_76[idx]

Setting the Annotators 76 Value to Final Value Column

In [49]:
final_df_2_vacc = neewwwsss_df.drop(['Value2'],axis = 1)
final_df_2_vacc

,text,annotation_73,annotation_74,annotation_75,annotation_76,Final_Value
0,COVID-19 Awards,False,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,False,False,False,False,False
2,..,False,False,False,False,False
3,Protect our nurses!,False,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,False,False
...,...,...,...,...,...,...
295,Don't let new immigrants fall through the crac...,False,False,False,False,False
296,Protect our TWU community from COVID-19 by sus...,False,False,False,False,False
297,Urgent Action Needed: Strengthen Ethnic Studie...,False,False,False,False,False
298,No More Live Markets - make the difference,False,False,False,False,False
299,SAVE THE NORTHCOTE PUBLIC GOLF COURSE,False,False,False,False,False

#### 4)  CHANGE.ORG_topic_3

###### 4.1) Implementing for CHANGE.ORG_TOPIC_3_Lockdown CSV File

In [50]:
df_chg_3_lock = pd.read_csv(r"D:\Temp\As\change.org_topic_3_lockdowns.csv")

score_3_48_49_lock = cohen_kappa_score(df_chg_3_lock.annotation_48,df_chg_3_lock.annotation_49)
score_3_48_50_lock = cohen_kappa_score(df_chg_3_lock.annotation_48,df_chg_3_lock.annotation_50)
score_3_48_47_lock = cohen_kappa_score(df_chg_3_lock.annotation_48,df_chg_3_lock.annotation_47)
score_3_49_50_lock = cohen_kappa_score(df_chg_3_lock.annotation_49,df_chg_3_lock.annotation_50)
score_3_49_47_lock = cohen_kappa_score(df_chg_3_lock.annotation_49,df_chg_3_lock.annotation_47)
score_3_50_47_lock = cohen_kappa_score(df_chg_3_lock.annotation_50,df_chg_3_lock.annotation_47)

avg_score_3_48_lock = (score_3_48_49_lock + score_3_48_50_lock + score_3_48_47_lock)/3
avg_score_3_49_lock = (score_3_48_49_lock + score_3_49_50_lock + score_3_49_47_lock)/3
avg_score_3_50_lock = (score_3_48_50_lock + score_3_49_50_lock + score_3_50_47_lock)/3
avg_score_3_47_lock = (score_3_48_47_lock + score_3_49_47_lock + score_3_50_47_lock)/3

print("Average Score of Each Annotator in Lockdown File \n")
print("Average Score of Annotator 48:",avg_score_3_48_lock)
print("Average Score of Annotator 49:",avg_score_3_49_lock)
print("Average Score of Annotator 50:",avg_score_3_50_lock)
print("Average Score of Annotator 47:",avg_score_3_47_lock)

Average Score of Each Annotator in Lockdown File

Average Score of Annotator 48: 0.4200460114235917
Average Score of Annotator 49: 0.4371382830557451
Average Score of Annotator 50: 0.45454008844232313
Average Score of Annotator 47: 0.43423711832993034

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [51]:
#Calculating Mode of Entire DataFrame
mode_3_lock = df_chg_3_lock.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_3_lock = pd.DataFrame(data = mode_3_lock)
df_mode_3_lock

         0     1
0    False  True
1    False   NaN
2     True   NaN
3    False  True
4    False   NaN
..     ...   ...
295  False   NaN
296   True   NaN
297  False   NaN
298   True   NaN
299   True   NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 50 has the highest Avg score.

In [52]:
#Merging
new1 = [df_chg_3_lock,df_mode_3_lock]
new1_df = pd.concat(new1,axis = 1)

#Renaming the column name 
new1_df = new1_df.rename(columns={0:"Final_Value" , 1:"Value2"})
new1_df

,text,annotation_48,annotation_49,annotation_50,annotation_47,Final_Value,Value2
0,Postpone CBSE Board Exams,True,False,False,True,False,True
1,Pay rise for paramedics and nurses,False,False,False,False,False,NaN
2,Too Soon To Open Georgia!,True,True,True,True,True,NaN
3,Request to reconsider DPS Ruby Park school tui...,True,False,False,True,False,True
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,True,False,NaN
...,...,...,...,...,...,...,...
295,Free and voluntary COVID-19 testing for front-...,False,False,False,False,False,NaN
296,Open House Ban During Covid-19,True,True,True,True,True,NaN
297,URGENT: PROTECT OKLAHOMA'S INMATES FROM COVID-...,True,False,False,False,False,NaN
298,ALL colleges TEST OPTIONAL for Fall 2020 appli...,True,True,False,True,True,NaN
299,Postpone UPSC CSE Prelims 2020 to August '20 a...,False,True,True,True,True,NaN

In [53]:
for idx,rows in new1_df.iterrows():
    if new1_df.Value2[idx] == True or new1_df.Value2[idx] == False:
        new1_df.Final_Value[idx] = new1_df.annotation_50[idx]

<ipython-input-53-5c288e782249>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new1_df.Final_Value[idx] = new1_df.annotation_50[idx]

Setting the Annotators 50 Value to Final Value Column

In [54]:
final_df_3_lock = new1_df.drop(['Value2'],axis = 1)
final_df_3_lock

,text,annotation_48,annotation_49,annotation_50,annotation_47,Final_Value
0,Postpone CBSE Board Exams,True,False,False,True,False
1,Pay rise for paramedics and nurses,False,False,False,False,False
2,Too Soon To Open Georgia!,True,True,True,True,True
3,Request to reconsider DPS Ruby Park school tui...,True,False,False,True,False
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,True,False
...,...,...,...,...,...,...
295,Free and voluntary COVID-19 testing for front-...,False,False,False,False,False
296,Open House Ban During Covid-19,True,True,True,True,True
297,URGENT: PROTECT OKLAHOMA'S INMATES FROM COVID-...,True,False,False,False,False
298,ALL colleges TEST OPTIONAL for Fall 2020 appli...,True,True,False,True,True
299,Postpone UPSC CSE Prelims 2020 to August '20 a...,False,True,True,True,True

###### 4.2) Implementing for CHANGE.ORG_topic_3_masking_and_distancing

In [55]:
df_chg_3_mask = pd.read_csv(r"D:\Temp\As\change.org_topic_3_masking_and_distancing.csv")

score_3_48_49_mask = cohen_kappa_score(df_chg_3_mask.annotation_48,df_chg_3_mask.annotation_49)
score_3_48_50_mask = cohen_kappa_score(df_chg_3_mask.annotation_48,df_chg_3_mask.annotation_50)
score_3_48_47_mask = cohen_kappa_score(df_chg_3_mask.annotation_48,df_chg_3_mask.annotation_47)
score_3_49_50_mask = cohen_kappa_score(df_chg_3_mask.annotation_49,df_chg_3_mask.annotation_50)
score_3_49_47_mask = cohen_kappa_score(df_chg_3_mask.annotation_49,df_chg_3_mask.annotation_47)
score_3_50_47_mask = cohen_kappa_score(df_chg_3_mask.annotation_50,df_chg_3_mask.annotation_47)

avg_score_3_48_mask = (score_3_48_49_mask + score_3_48_50_mask + score_3_48_47_mask)/3
avg_score_3_49_mask = (score_3_48_49_mask + score_3_49_50_mask + score_3_49_47_mask)/3
avg_score_3_50_mask = (score_3_48_50_mask + score_3_49_50_mask + score_3_50_47_mask)/3
avg_score_3_47_mask = (score_3_48_47_mask + score_3_49_47_mask + score_3_50_47_mask)/3

print("Average Score of Each Annotator in Masking and Distancing File \n")
print("Average Score of Annotator 48:",avg_score_3_48_mask)
print("Average Score of Annotator 49:",avg_score_3_49_mask)
print("Average Score of Annotator 50:",avg_score_3_50_mask)
print("Average Score of Annotator 47:",avg_score_3_47_mask)

Average Score of Each Annotator in Masking and Distancing File

Average Score of Annotator 48: 0.3646427764050817
Average Score of Annotator 49: 0.49366428625005804
Average Score of Annotator 50: 0.4672559392890074
Average Score of Annotator 47: 0.4033470237744203

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [56]:
#Calculating Mode of Entire DataFrame
mode_3_mask = df_chg_3_mask.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_3_mask = pd.DataFrame(data = mode_3_mask)
df_mode_3_mask

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295  False  NaN
296  False  NaN
297   True  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 49 has the highest Avg score.

In [57]:
#Merging
news1 = [df_chg_3_mask,df_mode_3_mask]
news1_df = pd.concat(news1,axis = 1)

#Renaming the column name 
news1_df = news1_df.rename(columns={0:"Final_Value" , 1:"Value2"})
news1_df

,text,annotation_48,annotation_49,annotation_50,annotation_47,Final_Value,Value2
0,Postpone CBSE Board Exams,False,False,False,False,False,NaN
1,Pay rise for paramedics and nurses,False,False,False,False,False,NaN
2,Too Soon To Open Georgia!,False,False,False,False,False,NaN
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False,False,NaN
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,Free and voluntary COVID-19 testing for front-...,False,False,False,False,False,NaN
296,Open House Ban During Covid-19,False,False,False,False,False,NaN
297,URGENT: PROTECT OKLAHOMA'S INMATES FROM COVID-...,False,True,True,True,True,NaN
298,ALL colleges TEST OPTIONAL for Fall 2020 appli...,False,False,False,False,False,NaN
299,Postpone UPSC CSE Prelims 2020 to August '20 a...,True,False,False,False,False,NaN

In [58]:
for idx,rows in news1_df.iterrows():
    if news1_df.Value2[idx] == True or news1_df.Value2[idx] == False:
        news1_df.Final_Value[idx] = news1_df.annotation_49[idx]

<ipython-input-58-bf288f242e5e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news1_df.Final_Value[idx] = news1_df.annotation_49[idx]

Setting the Annotators 49 Value to Final Value Column

In [59]:
final_df_3_mask = news1_df.drop(['Value2'],axis = 1)
final_df_3_mask

,text,annotation_48,annotation_49,annotation_50,annotation_47,Final_Value
0,Postpone CBSE Board Exams,False,False,False,False,False
1,Pay rise for paramedics and nurses,False,False,False,False,False
2,Too Soon To Open Georgia!,False,False,False,False,False
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False,False
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False,False
...,...,...,...,...,...,...
295,Free and voluntary COVID-19 testing for front-...,False,False,False,False,False
296,Open House Ban During Covid-19,False,False,False,False,False
297,URGENT: PROTECT OKLAHOMA'S INMATES FROM COVID-...,False,True,True,True,True
298,ALL colleges TEST OPTIONAL for Fall 2020 appli...,False,False,False,False,False
299,Postpone UPSC CSE Prelims 2020 to August '20 a...,True,False,False,False,False

###### 4.3) Implementing for CHANGE.ORG_topic_3_vaccination

In [60]:
df_chg_3_vacc = pd.read_csv(r"D:\Temp\As\change.org_topic_3_masking_and_distancing.csv")

score_3_48_49_vacc = cohen_kappa_score(df_chg_3_vacc.annotation_48,df_chg_3_vacc.annotation_49)
score_3_48_50_vacc = cohen_kappa_score(df_chg_3_vacc.annotation_48,df_chg_3_vacc.annotation_50)
score_3_48_47_vacc = cohen_kappa_score(df_chg_3_vacc.annotation_48,df_chg_3_vacc.annotation_47)
score_3_49_50_vacc = cohen_kappa_score(df_chg_3_vacc.annotation_49,df_chg_3_vacc.annotation_50)
score_3_49_47_vacc = cohen_kappa_score(df_chg_3_vacc.annotation_49,df_chg_3_vacc.annotation_47)
score_3_50_47_vacc = cohen_kappa_score(df_chg_3_vacc.annotation_50,df_chg_3_vacc.annotation_47)

avg_score_3_48_vacc = (score_3_48_49_vacc + score_3_48_50_vacc + score_3_48_47_vacc)/3
avg_score_3_49_vacc = (score_3_48_49_vacc + score_3_49_50_vacc + score_3_49_47_vacc)/3
avg_score_3_50_vacc = (score_3_48_50_vacc + score_3_49_50_vacc + score_3_50_47_vacc)/3
avg_score_3_47_vacc = (score_3_48_47_vacc + score_3_49_47_vacc + score_3_50_47_vacc)/3

print("Average Score of Each Annotator in Vaccination File \n")
print("Average Score of Annotator 48:",avg_score_3_48_vacc)
print("Average Score of Annotator 49:",avg_score_3_49_vacc)
print("Average Score of Annotator 50:",avg_score_3_50_vacc)
print("Average Score of Annotator 47:",avg_score_3_47_vacc)

Average Score of Each Annotator in Vaccination File

Average Score of Annotator 48: 0.3646427764050817
Average Score of Annotator 49: 0.49366428625005804
Average Score of Annotator 50: 0.4672559392890074
Average Score of Annotator 47: 0.4033470237744203

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [61]:
#Calculating Mode of Entire DataFrame
mode_3_vacc = df_chg_3_vacc.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_3_vacc = pd.DataFrame(data = mode_3_vacc)
df_mode_3_vacc

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295  False  NaN
296  False  NaN
297   True  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 49 has the highest Avg score.

In [62]:
#Merging
newss1 = [df_chg_3_vacc,df_mode_3_vacc]
newss1_df = pd.concat(newss1,axis = 1)

#Renaming the column name 
newss1_df = newss1_df.rename(columns={0:"Final_Value" , 1:"Value2"})
newss1_df

,text,annotation_48,annotation_49,annotation_50,annotation_47,Final_Value,Value2
0,Postpone CBSE Board Exams,False,False,False,False,False,NaN
1,Pay rise for paramedics and nurses,False,False,False,False,False,NaN
2,Too Soon To Open Georgia!,False,False,False,False,False,NaN
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False,False,NaN
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,Free and voluntary COVID-19 testing for front-...,False,False,False,False,False,NaN
296,Open House Ban During Covid-19,False,False,False,False,False,NaN
297,URGENT: PROTECT OKLAHOMA'S INMATES FROM COVID-...,False,True,True,True,True,NaN
298,ALL colleges TEST OPTIONAL for Fall 2020 appli...,False,False,False,False,False,NaN
299,Postpone UPSC CSE Prelims 2020 to August '20 a...,True,False,False,False,False,NaN

In [63]:
for idx,rows in newss1_df.iterrows():
    if newss1_df.Value2[idx] == True or newss1_df.Value2[idx] == False:
        newss1_df.Final_Value[idx] = newss1_df.annotation_49[idx]

<ipython-input-63-b523fd326b17>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newss1_df.Final_Value[idx] = newss1_df.annotation_49[idx]

In [64]:
final_df_3_vacc = newss1_df.drop(['Value2'],axis = 1)
final_df_3_vacc

,text,annotation_48,annotation_49,annotation_50,annotation_47,Final_Value
0,Postpone CBSE Board Exams,False,False,False,False,False
1,Pay rise for paramedics and nurses,False,False,False,False,False
2,Too Soon To Open Georgia!,False,False,False,False,False
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False,False
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False,False
...,...,...,...,...,...,...
295,Free and voluntary COVID-19 testing for front-...,False,False,False,False,False
296,Open House Ban During Covid-19,False,False,False,False,False
297,URGENT: PROTECT OKLAHOMA'S INMATES FROM COVID-...,False,True,True,True,True
298,ALL colleges TEST OPTIONAL for Fall 2020 appli...,False,False,False,False,False
299,Postpone UPSC CSE Prelims 2020 to August '20 a...,True,False,False,False,False

#### 5)  CHANGE.ORG_topic_4

###### 5.1) Implementing for CHANGE.ORG_TOPIC_4_LOCKDOWN CSV File

In [65]:
df_chg_4_lock = pd.read_csv(r"D:\Temp\As\change.org_topic_4_lockdowns.csv")

score_4_43_44_lock = cohen_kappa_score(df_chg_4_lock.annotation_43, df_chg_4_lock.annotation_44)
score_4_43_45_lock = cohen_kappa_score(df_chg_4_lock.annotation_43,df_chg_4_lock.annotation_45)
score_4_43_46_lock = cohen_kappa_score(df_chg_4_lock.annotation_43,df_chg_4_lock.annotation_46)
score_4_44_45_lock = cohen_kappa_score(df_chg_4_lock.annotation_44,df_chg_4_lock.annotation_45)
score_4_44_46_lock = cohen_kappa_score(df_chg_4_lock.annotation_44,df_chg_4_lock.annotation_46)
score_4_45_46_lock = cohen_kappa_score(df_chg_4_lock.annotation_45,df_chg_4_lock.annotation_46)

avg_score_4_43_lock = (score_4_43_44_lock + score_4_43_45_lock + score_4_43_46_lock)/3
avg_score_4_44_lock = (score_4_43_44_lock + score_4_44_45_lock + score_4_44_46_lock)/3
avg_score_4_45_lock = (score_4_43_45_lock + score_4_44_45_lock + score_4_45_46_lock)/3
avg_score_4_46_lock = (score_4_43_46_lock + score_4_44_46_lock + score_4_45_46_lock)/3

print("Average Score of Each Annotator for Lockdown File \n")
print("Average Score of Annotator 43:",avg_score_4_43_lock)
print("Average Score of Annotator 44:",avg_score_4_44_lock)
print("Average Score of Annotator 45:",avg_score_4_45_lock)
print("Average Score of Annotator 46:",avg_score_4_46_lock)

Average Score of Each Annotator for Lockdown File

Average Score of Annotator 43: 0.09472345790245129
Average Score of Annotator 44: 0.36010628808917683
Average Score of Annotator 45: 0.38002727513320894
Average Score of Annotator 46: 0.38613193821237113

Since the average score of Annotator 43 is greater than 0.2 we are not eliminating any annotators decision

In [66]:
#Calculating Mode of Entire DataFrame
mode_4_lock = df_chg_4_lock.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_4_lock = pd.DataFrame(data = mode_4_lock)
df_mode_4_lock

         0     1
0    False   NaN
1    False   NaN
2    False   NaN
3    False   NaN
4    False  True
..     ...   ...
295  False   NaN
296  False   NaN
297  False   NaN
298  False   NaN
299  False   NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 46 has the highest Avg score.

In [67]:
#Merging
neww1 = [df_chg_4_lock,df_mode_4_lock]
neww1_df = pd.concat(neww1,axis = 1)

#Renaming the column name 
neww1_df = neww1_df.rename(columns={0:"Final_Value" , 1:"Value2"})
neww1_df

,text,annotation_43,annotation_44,annotation_45,annotation_46,Final_Value,Value2
0,Save Western Ghats from annihilation,True,False,False,False,False,NaN
1,Save Beacon Hill Park,True,False,False,False,False,NaN
2,Government of India: Don't Tax Medical Bills,True,False,False,False,False,NaN
3,NO FAILING @ UCR,True,False,False,False,False,NaN
4,WIAA - Let them play football!,True,False,True,False,False,True
...,...,...,...,...,...,...,...
295,Null and void the Premier League,False,False,True,False,False,NaN
296,Free public transport for NHS staff to accompa...,True,False,False,False,False,NaN
297,PM please give immediate COVID Insurance cover...,True,False,False,False,False,NaN
298,SAY NO TO OSHA PROPOSED PERMANENT RULE,True,False,False,False,False,NaN
299,(NTU) - Viewing of results before deciding to S/U,True,False,False,False,False,NaN

In [68]:
for idx,rows in neww1_df.iterrows():
    if neww1_df.Value2[idx] == True or neww1_df.Value2[idx] == False:
        neww1_df.Final_Value[idx] = neww1_df.annotation_46[idx]

<ipython-input-68-d3d3c35159d7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neww1_df.Final_Value[idx] = neww1_df.annotation_46[idx]

Setting the Annotators 46 Value to Final Value Column

In [69]:
final_df_4_lock = neww1_df.drop(['Value2'],axis = 1)
final_df_4_lock

,text,annotation_43,annotation_44,annotation_45,annotation_46,Final_Value
0,Save Western Ghats from annihilation,True,False,False,False,False
1,Save Beacon Hill Park,True,False,False,False,False
2,Government of India: Don't Tax Medical Bills,True,False,False,False,False
3,NO FAILING @ UCR,True,False,False,False,False
4,WIAA - Let them play football!,True,False,True,False,False
...,...,...,...,...,...,...
295,Null and void the Premier League,False,False,True,False,False
296,Free public transport for NHS staff to accompa...,True,False,False,False,False
297,PM please give immediate COVID Insurance cover...,True,False,False,False,False
298,SAY NO TO OSHA PROPOSED PERMANENT RULE,True,False,False,False,False
299,(NTU) - Viewing of results before deciding to S/U,True,False,False,False,False

###### 5.2) Implementing for CHANGE.ORG_TOPIC_4_Masking_and_Distancing CSV File

In [70]:
df_chg_4_mask = pd.read_csv(r"D:\Temp\As\change.org_topic_4_masking_and_distancing.csv")

score_4_43_44_mask = cohen_kappa_score(df_chg_4_mask.annotation_43, df_chg_4_mask.annotation_44)
score_4_43_45_mask = cohen_kappa_score(df_chg_4_mask.annotation_43,df_chg_4_mask.annotation_45)
score_4_43_46_mask = cohen_kappa_score(df_chg_4_mask.annotation_43,df_chg_4_mask.annotation_46)
score_4_44_45_mask = cohen_kappa_score(df_chg_4_mask.annotation_44,df_chg_4_mask.annotation_45)
score_4_44_46_mask = cohen_kappa_score(df_chg_4_mask.annotation_44,df_chg_4_mask.annotation_46)
score_4_45_46_mask = cohen_kappa_score(df_chg_4_mask.annotation_45,df_chg_4_mask.annotation_46)

avg_score_4_43_mask = (score_4_43_44_mask + score_4_43_45_mask + score_4_43_46_mask)/3
avg_score_4_44_mask = (score_4_43_44_mask + score_4_44_45_mask + score_4_44_46_mask)/3
avg_score_4_45_mask = (score_4_43_45_mask + score_4_44_45_mask + score_4_45_46_mask)/3
avg_score_4_46_mask = (score_4_43_46_mask + score_4_44_46_mask + score_4_45_46_mask)/3

print("Average Score of Each Annotator for Masking and Distancing File \n")
print("Average Score of Annotator 43:",avg_score_4_43_mask)
print("Average Score of Annotator 44:",avg_score_4_44_mask)
print("Average Score of Annotator 45:",avg_score_4_45_mask)
print("Average Score of Annotator 46:",avg_score_4_46_mask)

Average Score of Each Annotator for Masking and Distancing File

Average Score of Annotator 43: 0.2050467381297456
Average Score of Annotator 44: 0.3750365569505501
Average Score of Annotator 45: 0.4517290066893758
Average Score of Annotator 46: 0.38693576068206964

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [71]:
#Calculating Mode of Entire DataFrame
mode_4_mask = df_chg_4_mask.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_4_mask = pd.DataFrame(data = mode_4_mask)
df_mode_4_mask

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295  False  NaN
296  False  NaN
297  False  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 45 has the highest Avg score.

In [72]:
#Merging
newws1 = [df_chg_4_mask,df_mode_4_mask]
newws1_df = pd.concat(newws1,axis = 1)

#Renaming the column name 
newws1_df = newws1_df.rename(columns={0:"Final_Value" , 1:"Value2"})
newws1_df

,text,annotation_43,annotation_44,annotation_45,annotation_46,Final_Value,Value2
0,Save Western Ghats from annihilation,False,False,False,False,False,NaN
1,Save Beacon Hill Park,False,False,False,False,False,NaN
2,Government of India: Don't Tax Medical Bills,False,False,False,False,False,NaN
3,NO FAILING @ UCR,False,False,False,False,False,NaN
4,WIAA - Let them play football!,False,True,False,False,False,NaN
...,...,...,...,...,...,...,...
295,Null and void the Premier League,False,False,False,False,False,NaN
296,Free public transport for NHS staff to accompa...,False,False,False,False,False,NaN
297,PM please give immediate COVID Insurance cover...,False,False,False,False,False,NaN
298,SAY NO TO OSHA PROPOSED PERMANENT RULE,False,False,False,False,False,NaN
299,(NTU) - Viewing of results before deciding to S/U,False,False,False,False,False,NaN

In [73]:
for idx,rows in newws1_df.iterrows():
    if newws1_df.Value2[idx] == True or newws1_df.Value2[idx] == False:
        newws1_df.Final_Value[idx] = newws1_df.annotation_45[idx]

<ipython-input-73-532da6532cfb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newws1_df.Final_Value[idx] = newws1_df.annotation_45[idx]

Setting the Annotators 45 Value to Final Value Column

In [74]:
final_df_4_mask = newws1_df.drop(['Value2'],axis = 1)
final_df_4_mask

,text,annotation_43,annotation_44,annotation_45,annotation_46,Final_Value
0,Save Western Ghats from annihilation,False,False,False,False,False
1,Save Beacon Hill Park,False,False,False,False,False
2,Government of India: Don't Tax Medical Bills,False,False,False,False,False
3,NO FAILING @ UCR,False,False,False,False,False
4,WIAA - Let them play football!,False,True,False,False,False
...,...,...,...,...,...,...
295,Null and void the Premier League,False,False,False,False,False
296,Free public transport for NHS staff to accompa...,False,False,False,False,False
297,PM please give immediate COVID Insurance cover...,False,False,False,False,False
298,SAY NO TO OSHA PROPOSED PERMANENT RULE,False,False,False,False,False
299,(NTU) - Viewing of results before deciding to S/U,False,False,False,False,False

###### 5.3) Implementing for CHANGE.ORG_TOPIC_4_Vaccination CSV File

In [75]:
df_chg_4_vacc = pd.read_csv(r"D:\Temp\As\change.org_topic_4_vaccination.csv")

score_4_43_44_vacc = cohen_kappa_score(df_chg_4_vacc.annotation_43, df_chg_4_vacc.annotation_44)
score_4_43_45_vacc = cohen_kappa_score(df_chg_4_vacc.annotation_43,df_chg_4_vacc.annotation_45)
score_4_43_46_vacc = cohen_kappa_score(df_chg_4_vacc.annotation_43,df_chg_4_vacc.annotation_46)
score_4_44_45_vacc = cohen_kappa_score(df_chg_4_vacc.annotation_44,df_chg_4_vacc.annotation_45)
score_4_44_46_vacc = cohen_kappa_score(df_chg_4_vacc.annotation_44,df_chg_4_vacc.annotation_46)
score_4_45_46_vacc = cohen_kappa_score(df_chg_4_vacc.annotation_45,df_chg_4_vacc.annotation_46)

avg_score_4_43_vacc = (score_4_43_44_vacc + score_4_43_45_vacc + score_4_43_46_vacc)/3
avg_score_4_44_vacc = (score_4_43_44_vacc + score_4_44_45_vacc + score_4_44_46_vacc)/3
avg_score_4_45_vacc = (score_4_43_45_vacc + score_4_44_45_vacc + score_4_45_46_vacc)/3
avg_score_4_46_vacc = (score_4_43_46_vacc + score_4_44_46_vacc + score_4_45_46_vacc)/3

print("Average Score of Each Annotator for Masking and Distancing File \n")
print("Average Score of Annotator 43:",avg_score_4_43_vacc)
print("Average Score of Annotator 44:",avg_score_4_44_vacc)
print("Average Score of Annotator 45:",avg_score_4_45_vacc)
print("Average Score of Annotator 46:",avg_score_4_46_vacc)

Average Score of Each Annotator for Masking and Distancing File

Average Score of Annotator 43: 0.5267395021958605
Average Score of Annotator 44: 0.7344262383224409
Average Score of Annotator 45: 0.751427803587239
Average Score of Annotator 46: 0.6674261993660947

 Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotators decision

In [76]:
#Calculating Mode of Entire DataFrame
mode_4_vacc = df_chg_4_vacc.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_4_vacc = pd.DataFrame(data = mode_4_vacc)
df_mode_4_vacc

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295  False  NaN
296  False  NaN
297  False  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows.
Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 45 has the highest Avg score.

In [77]:
#Merging
newwss1 = [df_chg_4_vacc,df_mode_4_vacc]
newwss1_df = pd.concat(newwss1,axis = 1)

#Renaming the column name 
newwss1_df = newwss1_df.rename(columns={0:"Final_Value" , 1:"Value2"})
newwss1_df

,text,annotation_43,annotation_44,annotation_45,annotation_46,Final_Value,Value2
0,Save Western Ghats from annihilation,False,False,False,False,False,NaN
1,Save Beacon Hill Park,False,False,False,False,False,NaN
2,Government of India: Don't Tax Medical Bills,False,False,False,False,False,NaN
3,NO FAILING @ UCR,False,False,False,False,False,NaN
4,WIAA - Let them play football!,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,Null and void the Premier League,False,False,False,False,False,NaN
296,Free public transport for NHS staff to accompa...,False,False,False,False,False,NaN
297,PM please give immediate COVID Insurance cover...,False,False,False,False,False,NaN
298,SAY NO TO OSHA PROPOSED PERMANENT RULE,False,False,False,False,False,NaN
299,(NTU) - Viewing of results before deciding to S/U,False,False,False,False,False,NaN

In [78]:
for idx,rows in newwss1_df.iterrows():
    if newwss1_df.Value2[idx] == True or newwss1_df.Value2[idx] == False:
        newwss1_df.Final_Value[idx] = newwss1_df.annotation_45[idx]

<ipython-input-78-ab16b9eddbb5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newwss1_df.Final_Value[idx] = newwss1_df.annotation_45[idx]

Setting the Annotators 45 Value to Final Value Column

In [79]:
final_df_4_vacc = newwss1_df.drop(['Value2'],axis = 1)
final_df_4_vacc

,text,annotation_43,annotation_44,annotation_45,annotation_46,Final_Value
0,Save Western Ghats from annihilation,False,False,False,False,False
1,Save Beacon Hill Park,False,False,False,False,False
2,Government of India: Don't Tax Medical Bills,False,False,False,False,False
3,NO FAILING @ UCR,False,False,False,False,False
4,WIAA - Let them play football!,False,False,False,False,False
...,...,...,...,...,...,...
295,Null and void the Premier League,False,False,False,False,False
296,Free public transport for NHS staff to accompa...,False,False,False,False,False
297,PM please give immediate COVID Insurance cover...,False,False,False,False,False
298,SAY NO TO OSHA PROPOSED PERMANENT RULE,False,False,False,False,False
299,(NTU) - Viewing of results before deciding to S/U,False,False,False,False,False

Now that we have all files ready, only thing we need to do is merge final_df of each [Lockdown,Masking,Vaccination] files

In [80]:
# Merging all the LOCKDOWN files
final_df_lock = pd.concat([final_df_0_lock,final_df_1_lock,final_df_2_lock,final_df_3_lock,final_df_4_lock]).reset_index(drop = True)
keep_columns = ['text','Final_Value']
final_df_lock = final_df_lock[keep_columns]
final_df_lock = final_df_lock.rename(columns = {"Final_Value":"label"})
final_df_lock.to_csv(r"D:\Temp\As\Final_files\final_chg_lock.csv")

In [81]:
# Merging all the Masking and Distancing files
final_df_mask = pd.concat([final_df_0_mask,final_df_1_mask,final_df_2_mask,final_df_3_mask,final_df_4_mask]).reset_index(drop = True)
keep_columns = ['text','Final_Value']
final_df_mask = final_df_mask[keep_columns]
final_df_mask = final_df_mask.rename(columns = {"Final_Value":"label"})
final_df_mask.to_csv(r"D:\Temp\As\Final_files\final_chg_mask.csv")

In [82]:
# Merging all the Vaccination files
final_df_vacc = pd.concat([final_df_0_vacc,final_df_1_vacc,final_df_2_vacc,final_df_3_vacc,final_df_4_vacc]).reset_index(drop = True)
keep_columns = ['text','Final_Value']
final_df_vacc = final_df_vacc[keep_columns]
final_df_vacc = final_df_vacc.rename(columns = {"Final_Value":"label"})
final_df_vacc.to_csv(r"D:\Temp\As\Final_files\final_chg_vacc.csv")