# Phase 2
## Pinakin A Nimavat
## A20466027
### NLP Fall 2021

# Primary Dataset

In [1]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score

# twitter_topic_0

# 1.1) Implementation for twitter_topic_0_lockdown CSV file

In [2]:
df_twitter_0_lockdown = pd.read_csv("twitter_topic_0_lockdowns.csv")

score_0_104_101_lockdown = cohen_kappa_score(df_twitter_0_lockdown.annotation_104, 
                                             df_twitter_0_lockdown.annotation_101)
score_0_104_102_lockdown = cohen_kappa_score(df_twitter_0_lockdown.annotation_104, 
                                             df_twitter_0_lockdown.annotation_102)
score_0_104_103_lockdown = cohen_kappa_score(df_twitter_0_lockdown.annotation_104, 
                                             df_twitter_0_lockdown.annotation_103)
score_0_101_102_lockdown = cohen_kappa_score(df_twitter_0_lockdown.annotation_101, 
                                             df_twitter_0_lockdown.annotation_102)
score_0_101_103_lockdown = cohen_kappa_score(df_twitter_0_lockdown.annotation_101, 
                                             df_twitter_0_lockdown.annotation_103)
score_0_102_103_lockdown = cohen_kappa_score(df_twitter_0_lockdown.annotation_102, 
                                             df_twitter_0_lockdown.annotation_103)

In [3]:
avg_score_0_104_lockdown = (score_0_104_101_lockdown + score_0_104_102_lockdown + score_0_104_103_lockdown)/3
avg_score_0_101_lockdown = (score_0_104_101_lockdown + score_0_101_102_lockdown + score_0_101_103_lockdown)/3
avg_score_0_102_lockdown = (score_0_104_102_lockdown + score_0_101_102_lockdown + score_0_102_103_lockdown)/3
avg_score_0_103_lockdown = (score_0_104_103_lockdown + score_0_101_103_lockdown + score_0_102_103_lockdown)/3

In [4]:
print("Average Score of Each Annotator for Lockdown File \n")
print("Average Score of Annotator 104:",avg_score_0_104_lockdown)
print("Average Score of Annotator 101:",avg_score_0_101_lockdown)
print("Average Score of Annotator 102:",avg_score_0_102_lockdown)
print("Average Score of Annotator 103:",avg_score_0_103_lockdown)

Average Score of Each Annotator for Lockdown File

Average Score of Annotator 104: 0.15310922941528948
Average Score of Annotator 101: 0.20788424756793666
Average Score of Annotator 102: 0.1699956795349352
Average Score of Annotator 103: 0.20986808782839614

In [5]:
list = [avg_score_0_104_lockdown,avg_score_0_101_lockdown,avg_score_0_102_lockdown,avg_score_0_103_lockdown]

for i in list:
    if i>0.2:
        print (i)

0.20788424756793666
0.20986808782839614

Since We can see that the avergae kappa score for annotator 104 and 102 is less than 0.2 we will drop them.

In [6]:
df_twitter_0_lockdown = df_twitter_0_lockdown.drop(columns=['annotation_104', 'annotation_102'])
df_twitter_0_lockdown

,text,annotation_101,annotation_103
0,Putin After Announcing #CovidVaccine #Russian ...,False,False
1,Courtesy: WA! #WhatsApp #COVID #CovidVaccine h...,False,False
2,4 of the vaccines Jared bought are expected to...,False,False
3,One day you will realize CDC Guidelines magica...,False,False
4,Im far from lying. Current CDC guidelines is ...,False,False
...,...,...,...
295,"CDC updates mask guidelines for K-12 schools, ...",False,False
296,Trudeau Confirms That Approved COVID-19 Vaccin...,False,False
297,We are carefully following all CDC guidelines ...,False,False
298,With all the information Dr. Fauci has given u...,False,False
299,"The reason it hasn't ""lived up to expectations...",False,False

In [7]:
#Calculating Mode of Entire DataFrame
mode_0_lock = df_twitter_0_lockdown.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_0_lock = pd.DataFrame(data = mode_0_lock)
df_mode_0_lock

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'bool'
  warn(f"Unable to sort modes: {err}")
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'bool' and 'str'
  warn(f"Unable to sort modes: {err}")

         0    1    2
0    False  NaN  NaN
1    False  NaN  NaN
2    False  NaN  NaN
3    False  NaN  NaN
4    False  NaN  NaN
..     ...  ...  ...
295  False  NaN  NaN
296  False  NaN  NaN
297  False  NaN  NaN
298  False  NaN  NaN
299  False  NaN  NaN

[300 rows x 3 columns]

We can see that we have 3 columns for mode as there were equal values for TRUE and FALSE in some rows. Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 103 has the highest Avg score.

In [8]:
#Merging
new01 = [df_twitter_0_lockdown,df_mode_0_lock]
new_df01 = pd.concat(new01,axis = 1)

#Renaming the column name 
new_df01 = new_df01.rename(columns={0:"Final_Value" , 1:"Value2", 2:"Value3"})
new_df01

,text,annotation_101,annotation_103,Final_Value,Value2,Value3
0,Putin After Announcing #CovidVaccine #Russian ...,False,False,False,NaN,NaN
1,Courtesy: WA! #WhatsApp #COVID #CovidVaccine h...,False,False,False,NaN,NaN
2,4 of the vaccines Jared bought are expected to...,False,False,False,NaN,NaN
3,One day you will realize CDC Guidelines magica...,False,False,False,NaN,NaN
4,Im far from lying. Current CDC guidelines is ...,False,False,False,NaN,NaN
...,...,...,...,...,...,...
295,"CDC updates mask guidelines for K-12 schools, ...",False,False,False,NaN,NaN
296,Trudeau Confirms That Approved COVID-19 Vaccin...,False,False,False,NaN,NaN
297,We are carefully following all CDC guidelines ...,False,False,False,NaN,NaN
298,With all the information Dr. Fauci has given u...,False,False,False,NaN,NaN
299,"The reason it hasn't ""lived up to expectations...",False,False,False,NaN,NaN

In [9]:
for idx,rows in new_df01.iterrows():
    if (new_df01.Value2[idx] or new_df01.Value3[idx] == True) or (new_df01.Value2[idx] or 
                                                                  new_df01.Value3[idx]) == False:
        new_df01.Final_Value[idx] = new_df01.annotation_103[idx]

<ipython-input-9-3e87e0038579>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df01.Final_Value[idx] = new_df01.annotation_103[idx]

Setting the annotator 103 value to final value column

In [10]:
final_df_0_lock = new_df01.drop(['Value2',"Value3"],axis = 1)
final_df_0_lock

,text,annotation_101,annotation_103,Final_Value
0,Putin After Announcing #CovidVaccine #Russian ...,False,False,False
1,Courtesy: WA! #WhatsApp #COVID #CovidVaccine h...,False,False,False
2,4 of the vaccines Jared bought are expected to...,False,False,False
3,One day you will realize CDC Guidelines magica...,False,False,False
4,Im far from lying. Current CDC guidelines is ...,False,False,False
...,...,...,...,...
295,"CDC updates mask guidelines for K-12 schools, ...",False,False,False
296,Trudeau Confirms That Approved COVID-19 Vaccin...,False,False,False
297,We are carefully following all CDC guidelines ...,False,False,False
298,With all the information Dr. Fauci has given u...,False,False,False
299,"The reason it hasn't ""lived up to expectations...",False,False,False

# 1.2) Implementing for twitter_topic_0_masking_and_distancing csv file

In [11]:
df_twitter_0_md= pd.read_csv("twitter_topic_0_masking_and_distancing.csv")

score_0_104_101_md = cohen_kappa_score(df_twitter_0_md.annotation_104, 
                                             df_twitter_0_md.annotation_101)
score_0_104_102_md = cohen_kappa_score(df_twitter_0_md.annotation_104, 
                                             df_twitter_0_md.annotation_102)
score_0_104_103_md = cohen_kappa_score(df_twitter_0_md.annotation_104, 
                                             df_twitter_0_md.annotation_103)
score_0_101_102_md = cohen_kappa_score(df_twitter_0_md.annotation_101, 
                                             df_twitter_0_md.annotation_102)
score_0_101_103_md = cohen_kappa_score(df_twitter_0_md.annotation_101, 
                                             df_twitter_0_md.annotation_103)
score_0_102_103_md = cohen_kappa_score(df_twitter_0_md.annotation_102, 
                                             df_twitter_0_md.annotation_103)

In [12]:
avg_score_0_104_md = (score_0_104_101_md + score_0_104_102_md + score_0_104_103_md)/3
avg_score_0_101_md = (score_0_104_101_md + score_0_101_102_md + score_0_101_103_md)/3
avg_score_0_102_md = (score_0_104_102_md + score_0_101_102_md + score_0_102_103_md)/3
avg_score_0_103_md = (score_0_104_103_md + score_0_101_103_md + score_0_102_103_md)/3

In [13]:
print("Average Score of Each Annotator for Masking and Distancing File \n")
print("Average Score of Annotator 104:",avg_score_0_104_md)
print("Average Score of Annotator 101:",avg_score_0_101_md)
print("Average Score of Annotator 102:",avg_score_0_102_md)
print("Average Score of Annotator 103:",avg_score_0_103_md)

Average Score of Each Annotator for Masking and Distancing File

Average Score of Annotator 104: 0.5110966318263074
Average Score of Annotator 101: 0.7704815888817947
Average Score of Annotator 102: 0.7327868362752801
Average Score of Annotator 103: 0.7630634070755388

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotator's decision

In [14]:
#Calculating Mode of Entire DataFrame
mode_0_md = df_twitter_0_md.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_0_md = pd.DataFrame(data = mode_0_md)
df_mode_0_md

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4     True  NaN
..     ...  ...
295   True  NaN
296  False  NaN
297  False  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows. Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 101 has the highest Avg score.

In [15]:
#Merging
new02 = [df_twitter_0_md,df_mode_0_md]
new_df02 = pd.concat(new02,axis = 1)

#Renaming the column name 
new_df02 = new_df02.rename(columns={0:"Final_Value" , 1:"Value2"})
new_df02

,text,annotation_104,annotation_101,annotation_102,annotation_103,Final_Value,Value2
0,Putin After Announcing #CovidVaccine #Russian ...,False,False,False,False,False,NaN
1,Courtesy: WA! #WhatsApp #COVID #CovidVaccine h...,False,False,False,False,False,NaN
2,4 of the vaccines Jared bought are expected to...,False,False,False,False,False,NaN
3,One day you will realize CDC Guidelines magica...,True,False,False,False,False,NaN
4,Im far from lying. Current CDC guidelines is ...,True,True,False,True,True,NaN
...,...,...,...,...,...,...,...
295,"CDC updates mask guidelines for K-12 schools, ...",True,True,True,True,True,NaN
296,Trudeau Confirms That Approved COVID-19 Vaccin...,False,False,False,False,False,NaN
297,We are carefully following all CDC guidelines ...,True,False,False,False,False,NaN
298,With all the information Dr. Fauci has given u...,False,False,False,False,False,NaN
299,"The reason it hasn't ""lived up to expectations...",True,False,False,False,False,NaN

In [16]:
for idx,rows in new_df02.iterrows():
    if new_df02.Value2[idx] == True or new_df02.Value2[idx] == False:
        new_df02.Final_Value[idx] = new_df02.annotation_101[idx]

<ipython-input-16-6faf2a21b41b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df02.Final_Value[idx] = new_df02.annotation_101[idx]

Setting the Annotators 101 Value to Final Value Column

In [17]:
final_df_0_md = new_df02.drop(['Value2'],axis = 1)
final_df_0_md

,text,annotation_104,annotation_101,annotation_102,annotation_103,Final_Value
0,Putin After Announcing #CovidVaccine #Russian ...,False,False,False,False,False
1,Courtesy: WA! #WhatsApp #COVID #CovidVaccine h...,False,False,False,False,False
2,4 of the vaccines Jared bought are expected to...,False,False,False,False,False
3,One day you will realize CDC Guidelines magica...,True,False,False,False,False
4,Im far from lying. Current CDC guidelines is ...,True,True,False,True,True
...,...,...,...,...,...,...
295,"CDC updates mask guidelines for K-12 schools, ...",True,True,True,True,True
296,Trudeau Confirms That Approved COVID-19 Vaccin...,False,False,False,False,False
297,We are carefully following all CDC guidelines ...,True,False,False,False,False
298,With all the information Dr. Fauci has given u...,False,False,False,False,False
299,"The reason it hasn't ""lived up to expectations...",True,False,False,False,False

# 1.3) Implementing twitter_topic_0_vaccination

In [18]:
df_twitter_0_vac= pd.read_csv("twitter_topic_0_vaccination.csv")

score_0_104_101_vac = cohen_kappa_score(df_twitter_0_vac.annotation_104, 
                                             df_twitter_0_vac.annotation_101)
score_0_104_102_vac = cohen_kappa_score(df_twitter_0_vac.annotation_104, 
                                             df_twitter_0_vac.annotation_102)
score_0_104_103_vac = cohen_kappa_score(df_twitter_0_vac.annotation_104, 
                                             df_twitter_0_vac.annotation_103)
score_0_101_102_vac = cohen_kappa_score(df_twitter_0_vac.annotation_101, 
                                             df_twitter_0_vac.annotation_102)
score_0_101_103_vac = cohen_kappa_score(df_twitter_0_vac.annotation_101, 
                                             df_twitter_0_vac.annotation_103)
score_0_102_103_vac = cohen_kappa_score(df_twitter_0_vac.annotation_102, 
                                             df_twitter_0_vac.annotation_103)

In [19]:
avg_score_0_104_vac = (score_0_104_101_vac + score_0_104_102_vac + score_0_104_103_vac)/3
avg_score_0_101_vac = (score_0_104_101_vac + score_0_101_102_vac + score_0_101_103_vac)/3
avg_score_0_102_vac = (score_0_104_102_vac + score_0_101_102_vac + score_0_102_103_vac)/3
avg_score_0_103_vac = (score_0_104_103_vac + score_0_101_103_vac + score_0_102_103_vac)/3

In [20]:
print("Average Score of Each Annotator for Vaccination File \n")
print("Average Score of Annotator 104:",avg_score_0_104_vac)
print("Average Score of Annotator 101:",avg_score_0_101_vac)
print("Average Score of Annotator 102:",avg_score_0_102_vac)
print("Average Score of Annotator 103:",avg_score_0_103_vac)

Average Score of Each Annotator for Vaccination File

Average Score of Annotator 104: 0.673287439979103
Average Score of Annotator 101: 0.7621309462828351
Average Score of Annotator 102: 0.6241408556645266
Average Score of Annotator 103: 0.7095627314652487

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotator's decision

In [21]:
#Calculating Mode of Entire DataFrame
mode_0_vac = df_twitter_0_vac.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_0_vac = pd.DataFrame(data = mode_0_vac)
df_mode_0_vac

         0     1
0     True   NaN
1    False  True
2     True   NaN
3    False   NaN
4     True   NaN
..     ...   ...
295   True   NaN
296   True   NaN
297  False   NaN
298  False   NaN
299  False   NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows. Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 101 has the highest Avg score.

In [22]:
#Merging
new03 = [df_twitter_0_vac,df_mode_0_vac]
new_df03 = pd.concat(new03,axis = 1)

#Renaming the column name 
new_df03 = new_df03.rename(columns={0:"Final_Value" , 1:"Value2"})
new_df03

,text,annotation_104,annotation_101,annotation_102,annotation_103,Final_Value,Value2
0,Putin After Announcing #CovidVaccine #Russian ...,True,True,True,False,True,NaN
1,Courtesy: WA! #WhatsApp #COVID #CovidVaccine h...,True,True,False,False,False,True
2,4 of the vaccines Jared bought are expected to...,True,True,True,True,True,NaN
3,One day you will realize CDC Guidelines magica...,False,False,False,False,False,NaN
4,Im far from lying. Current CDC guidelines is ...,False,True,True,True,True,NaN
...,...,...,...,...,...,...,...
295,"CDC updates mask guidelines for K-12 schools, ...",False,True,True,True,True,NaN
296,Trudeau Confirms That Approved COVID-19 Vaccin...,True,True,True,True,True,NaN
297,We are carefully following all CDC guidelines ...,False,False,False,False,False,NaN
298,With all the information Dr. Fauci has given u...,False,False,True,False,False,NaN
299,"The reason it hasn't ""lived up to expectations...",False,False,False,False,False,NaN

In [23]:
for idx,rows in new_df03.iterrows():
    if new_df03.Value2[idx] == True or new_df03.Value2[idx] == False:
        new_df03.Final_Value[idx] = new_df03.annotation_101[idx]

<ipython-input-23-2564ba4cb89e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df03.Final_Value[idx] = new_df03.annotation_101[idx]

Setting the Annotators 101 Value to Final Value Column

In [24]:
final_df_0_vac = new_df03.drop(['Value2'],axis = 1)
final_df_0_vac

,text,annotation_104,annotation_101,annotation_102,annotation_103,Final_Value
0,Putin After Announcing #CovidVaccine #Russian ...,True,True,True,False,True
1,Courtesy: WA! #WhatsApp #COVID #CovidVaccine h...,True,True,False,False,True
2,4 of the vaccines Jared bought are expected to...,True,True,True,True,True
3,One day you will realize CDC Guidelines magica...,False,False,False,False,False
4,Im far from lying. Current CDC guidelines is ...,False,True,True,True,True
...,...,...,...,...,...,...
295,"CDC updates mask guidelines for K-12 schools, ...",False,True,True,True,True
296,Trudeau Confirms That Approved COVID-19 Vaccin...,True,True,True,True,True
297,We are carefully following all CDC guidelines ...,False,False,False,False,False
298,With all the information Dr. Fauci has given u...,False,False,True,False,False
299,"The reason it hasn't ""lived up to expectations...",False,False,False,False,False

# twitter_topic_1

# Implementing for twitter_topic_1_lockdowns file

In [25]:
df_twitter_1_lockdown = pd.read_csv("twitter_topic_1_lockdowns.csv")

score_1_51_52_lockdown = cohen_kappa_score(df_twitter_1_lockdown.annotation_51, 
                                             df_twitter_1_lockdown.annotation_52)
score_1_51_53_lockdown = cohen_kappa_score(df_twitter_1_lockdown.annotation_51, 
                                             df_twitter_1_lockdown.annotation_53)
score_1_51_54_lockdown = cohen_kappa_score(df_twitter_1_lockdown.annotation_51, 
                                             df_twitter_1_lockdown.annotation_54)
score_1_52_53_lockdown = cohen_kappa_score(df_twitter_1_lockdown.annotation_52, 
                                             df_twitter_1_lockdown.annotation_53)
score_1_52_54_lockdown = cohen_kappa_score(df_twitter_1_lockdown.annotation_52, 
                                             df_twitter_1_lockdown.annotation_54)
score_1_53_54_lockdown = cohen_kappa_score(df_twitter_1_lockdown.annotation_53, 
                                             df_twitter_1_lockdown.annotation_54)

In [26]:
avg_score_1_51_lockdown = (score_1_51_52_lockdown + score_1_51_53_lockdown + score_1_51_54_lockdown)/3
avg_score_1_52_lockdown = (score_1_51_52_lockdown + score_1_52_53_lockdown + score_1_52_54_lockdown)/3
avg_score_1_53_lockdown = (score_1_51_53_lockdown + score_1_53_54_lockdown + score_1_52_53_lockdown)/3
avg_score_1_54_lockdown = (score_1_51_54_lockdown + score_1_52_54_lockdown + score_1_53_54_lockdown)/3

In [27]:
print("Average Score of Each Annotator for Lockdown File \n")
print("Average Score of Annotator 51:",avg_score_1_51_lockdown)
print("Average Score of Annotator 52:",avg_score_1_52_lockdown)
print("Average Score of Annotator 53:",avg_score_1_53_lockdown)
print("Average Score of Annotator 54:",avg_score_1_54_lockdown)

Average Score of Each Annotator for Lockdown File

Average Score of Annotator 51: 0.38374396729420157
Average Score of Annotator 52: 0.2475066127986606
Average Score of Annotator 53: 0.3466783318742191
Average Score of Annotator 54: 0.3615994589823533

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotator's decision

In [28]:
#Calculating Mode of Entire DataFrame
mode_1_lockdown = df_twitter_1_lockdown.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_1_lockdown = pd.DataFrame(data = mode_1_lockdown)
df_mode_1_lockdown

         0    1
0    False  NaN
1    False  NaN
2    False  NaN
3    False  NaN
4     True  NaN
..     ...  ...
295  False  NaN
296  False  NaN
297  False  NaN
298  False  NaN
299  False  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows. Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 51 has the highest Avg score.

In [29]:
#Merging
new11 = [df_twitter_1_lockdown,df_mode_1_lockdown]
new_df11 = pd.concat(new11,axis = 1)

#Renaming the column name 
new_df11 = new_df11.rename(columns={0:"Final_Value" , 1:"Value2"})
new_df11

,text,annotation_51,annotation_52,annotation_53,annotation_54,Final_Value,Value2
0,Follow the CDC guidelines. Don’t become a stat...,False,False,False,False,False,NaN
1,Do you agree with CDC guidelines that children...,False,False,False,False,False,NaN
2,"So, both #Pharmaceutical companies #lilly and ...",False,False,False,False,False,NaN
3,The CDC's guidelines are clear; you just don't...,False,False,False,False,False,NaN
4,CDC Updates School Guidelines For Students Ret...,True,True,True,False,True,NaN
...,...,...,...,...,...,...,...
295,"FWIW, the 2009 CDC rules for biosafety permitt...",False,False,False,False,False,NaN
296,CDC School Guidelines: Vaccinated teachers and...,False,False,False,False,False,NaN
297,Funny how you ignored my request for proof tha...,True,False,False,False,False,NaN
298,"Antimalarial Drugs Utilization, Adherence to M...",False,False,False,False,False,NaN
299,Does Russia have the cure for Corona Virus? \n...,False,False,False,False,False,NaN

In [30]:
for idx,rows in new_df11.iterrows():
    if new_df11.Value2[idx] == True or new_df11.Value2[idx] == False:
        new_df11.Final_Value[idx] = new_df11.annotation_51[idx]

<ipython-input-30-0b2aaf784945>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df11.Final_Value[idx] = new_df11.annotation_51[idx]

Setting the Annotators 51 Value to Final Value Column

In [31]:
final_df_1_lockdown = new_df11.drop(['Value2'],axis = 1)
final_df_1_lockdown

,text,annotation_51,annotation_52,annotation_53,annotation_54,Final_Value
0,Follow the CDC guidelines. Don’t become a stat...,False,False,False,False,False
1,Do you agree with CDC guidelines that children...,False,False,False,False,False
2,"So, both #Pharmaceutical companies #lilly and ...",False,False,False,False,False
3,The CDC's guidelines are clear; you just don't...,False,False,False,False,False
4,CDC Updates School Guidelines For Students Ret...,True,True,True,False,True
...,...,...,...,...,...,...
295,"FWIW, the 2009 CDC rules for biosafety permitt...",False,False,False,False,False
296,CDC School Guidelines: Vaccinated teachers and...,False,False,False,False,False
297,Funny how you ignored my request for proof tha...,True,False,False,False,False
298,"Antimalarial Drugs Utilization, Adherence to M...",False,False,False,False,False
299,Does Russia have the cure for Corona Virus? \n...,False,False,False,False,False

# Implementing for twitter_topic_1_masking and distancing file

In [32]:
df_twitter_1_md= pd.read_csv("twitter_topic_1_masking_and_distancing.csv")

score_1_51_52_md = cohen_kappa_score(df_twitter_1_md.annotation_51, 
                                             df_twitter_1_md.annotation_52)
score_1_51_53_md = cohen_kappa_score(df_twitter_1_md.annotation_51, 
                                             df_twitter_1_md.annotation_53)
score_1_51_54_md= cohen_kappa_score(df_twitter_1_md.annotation_51, 
                                             df_twitter_1_md.annotation_54)
score_1_52_53_md = cohen_kappa_score(df_twitter_1_md.annotation_52, 
                                             df_twitter_1_md.annotation_53)
score_1_52_54_md = cohen_kappa_score(df_twitter_1_md.annotation_52, 
                                             df_twitter_1_md.annotation_54)
score_1_53_54_md = cohen_kappa_score(df_twitter_1_md.annotation_53, 
                                             df_twitter_1_md.annotation_54)

In [33]:
avg_score_1_51_md = (score_1_51_52_md + score_1_51_53_md + score_1_51_54_md)/3
avg_score_1_52_md = (score_1_51_52_md + score_1_52_53_md + score_1_52_54_md)/3
avg_score_1_53_md = (score_1_53_54_md + score_1_51_53_md + score_1_52_53_md)/3
avg_score_1_54_md = (score_1_53_54_md + score_1_51_54_md + score_1_52_54_md)/3

In [34]:
print("Average Score of Each Annotator for Masking and Distancing File \n")
print("Average Score of Annotator 51:",avg_score_1_51_md)
print("Average Score of Annotator 52:",avg_score_1_52_md)
print("Average Score of Annotator 53:",avg_score_1_53_md)
print("Average Score of Annotator 54:",avg_score_1_54_md)

Average Score of Each Annotator for Masking and Distancing File

Average Score of Annotator 51: 0.5547693664516317
Average Score of Annotator 52: 0.6992497233396247
Average Score of Annotator 53: 0.6807204926375218
Average Score of Annotator 54: 0.7045924598892853

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotator's decision

In [35]:
#Calculating Mode of Entire DataFrame
mode_1_md = df_twitter_1_md.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_1_md = pd.DataFrame(data = mode_1_md)
df_mode_1_md

         0     1
0    False  True
1     True   NaN
2    False   NaN
3    False   NaN
4    False   NaN
..     ...   ...
295  False   NaN
296   True   NaN
297  False   NaN
298  False   NaN
299  False   NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows. Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 54 has the highest Avg score.

In [36]:
#Merging
new12 = [df_twitter_1_md,df_mode_1_md]
new_df12 = pd.concat(new12,axis = 1)

#Renaming the column name 
new_df12 = new_df12.rename(columns={0:"Final_Value" , 1:"Value2"})
new_df12

,text,annotation_51,annotation_52,annotation_53,annotation_54,Final_Value,Value2
0,Follow the CDC guidelines. Don’t become a stat...,True,False,True,False,False,True
1,Do you agree with CDC guidelines that children...,True,True,True,True,True,NaN
2,"So, both #Pharmaceutical companies #lilly and ...",False,False,False,False,False,NaN
3,The CDC's guidelines are clear; you just don't...,True,False,False,False,False,NaN
4,CDC Updates School Guidelines For Students Ret...,True,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,"FWIW, the 2009 CDC rules for biosafety permitt...",False,False,False,False,False,NaN
296,CDC School Guidelines: Vaccinated teachers and...,True,True,True,True,True,NaN
297,Funny how you ignored my request for proof tha...,True,False,False,False,False,NaN
298,"Antimalarial Drugs Utilization, Adherence to M...",False,False,False,False,False,NaN
299,Does Russia have the cure for Corona Virus? \n...,False,False,False,False,False,NaN

In [37]:
for idx,rows in new_df12.iterrows():
    if new_df12.Value2[idx] == True or new_df12.Value2[idx] == False:
        new_df12.Final_Value[idx] = new_df12.annotation_54[idx]

<ipython-input-37-1f24feda6f65>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df12.Final_Value[idx] = new_df12.annotation_54[idx]

Setting annotator 54's value to final value column

In [38]:
final_df_1_md = new_df12.drop(['Value2'],axis = 1)
final_df_1_md

,text,annotation_51,annotation_52,annotation_53,annotation_54,Final_Value
0,Follow the CDC guidelines. Don’t become a stat...,True,False,True,False,False
1,Do you agree with CDC guidelines that children...,True,True,True,True,True
2,"So, both #Pharmaceutical companies #lilly and ...",False,False,False,False,False
3,The CDC's guidelines are clear; you just don't...,True,False,False,False,False
4,CDC Updates School Guidelines For Students Ret...,True,False,False,False,False
...,...,...,...,...,...,...
295,"FWIW, the 2009 CDC rules for biosafety permitt...",False,False,False,False,False
296,CDC School Guidelines: Vaccinated teachers and...,True,True,True,True,True
297,Funny how you ignored my request for proof tha...,True,False,False,False,False
298,"Antimalarial Drugs Utilization, Adherence to M...",False,False,False,False,False
299,Does Russia have the cure for Corona Virus? \n...,False,False,False,False,False

# Implementing for twitter_topic_1_vaccination

In [39]:
df_twitter_1_vac= pd.read_csv("twitter_topic_1_vaccination.csv")

score_1_51_52_vac = cohen_kappa_score(df_twitter_1_vac.annotation_51, 
                                             df_twitter_1_vac.annotation_52)
score_1_51_53_vac = cohen_kappa_score(df_twitter_1_vac.annotation_51, 
                                             df_twitter_1_vac.annotation_53)
score_1_51_54_vac = cohen_kappa_score(df_twitter_1_vac.annotation_51, 
                                             df_twitter_1_vac.annotation_54)
score_1_52_53_vac = cohen_kappa_score(df_twitter_1_vac.annotation_52, 
                                             df_twitter_1_vac.annotation_53)
score_1_52_54_vac = cohen_kappa_score(df_twitter_1_vac.annotation_52, 
                                             df_twitter_1_vac.annotation_54)
score_1_53_54_vac = cohen_kappa_score(df_twitter_1_vac.annotation_53, 
                                             df_twitter_1_vac.annotation_54)

In [40]:
avg_score_1_51_vac = (score_1_51_52_vac + score_1_51_53_vac + score_1_51_54_vac)/3
avg_score_1_52_vac = (score_1_51_52_vac + score_1_52_53_vac + score_1_52_54_vac)/3
avg_score_1_53_vac = (score_1_51_53_vac + score_1_53_54_vac + score_1_52_53_vac)/3
avg_score_1_54_vac = (score_1_51_54_vac + score_1_52_54_vac + score_1_53_54_vac)/3


print("Average Score of Each Annotator for vaccination File \n")
print("Average Score of Annotator 51:",avg_score_1_51_vac)
print("Average Score of Annotator 52:",avg_score_1_52_vac)
print("Average Score of Annotator 53:",avg_score_1_53_vac)
print("Average Score of Annotator 54:",avg_score_1_54_vac)

Average Score of Each Annotator for vaccination File

Average Score of Annotator 51: 0.6557455942279518
Average Score of Annotator 52: 0.3626159972414958
Average Score of Annotator 53: 0.6134981271639437
Average Score of Annotator 54: 0.6083138882680158

Since the average score of each Annotator is greater than 0.2 we are not eliminating any annotator's decision

In [41]:
#Calculating Mode of Entire DataFrame
mode_1_vac = df_twitter_1_vac.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_1_vac = pd.DataFrame(data = mode_1_vac)
df_mode_1_vac

         0    1
0    False  NaN
1    False  NaN
2     True  NaN
3    False  NaN
4    False  NaN
..     ...  ...
295  False  NaN
296   True  NaN
297  False  NaN
298  False  NaN
299   True  NaN

[300 rows x 2 columns]

We can see that we have 2 columns for mode as there were equal values for TRUE and FALSE in some rows. Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 51 has the highest Avg score.

In [42]:
#Merging
new13 = [df_twitter_1_vac,df_mode_1_vac]
new_df13 = pd.concat(new13,axis = 1)

#Renaming the column name 
new_df13 = new_df13.rename(columns={0:"Final_Value" , 1:"Value2"})
new_df13

,text,annotation_51,annotation_52,annotation_53,annotation_54,Final_Value,Value2
0,Follow the CDC guidelines. Don’t become a stat...,False,False,False,False,False,NaN
1,Do you agree with CDC guidelines that children...,False,False,False,False,False,NaN
2,"So, both #Pharmaceutical companies #lilly and ...",True,True,True,True,True,NaN
3,The CDC's guidelines are clear; you just don't...,False,False,False,False,False,NaN
4,CDC Updates School Guidelines For Students Ret...,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...
295,"FWIW, the 2009 CDC rules for biosafety permitt...",False,False,False,False,False,NaN
296,CDC School Guidelines: Vaccinated teachers and...,True,True,True,False,True,NaN
297,Funny how you ignored my request for proof tha...,False,False,False,False,False,NaN
298,"Antimalarial Drugs Utilization, Adherence to M...",False,False,False,False,False,NaN
299,Does Russia have the cure for Corona Virus? \n...,True,False,True,True,True,NaN

In [43]:
for idx,rows in new_df13.iterrows():
    if new_df13.Value2[idx] == True or new_df13.Value2[idx] == False:
        new_df13.Final_Value[idx] = new_df13.annotation_51[idx]

<ipython-input-43-af053f06bd1a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df13.Final_Value[idx] = new_df13.annotation_51[idx]

Setting annotator 51's value to final value column

In [44]:
final_df_1_vac = new_df13.drop(['Value2'],axis = 1)
final_df_1_vac

,text,annotation_51,annotation_52,annotation_53,annotation_54,Final_Value
0,Follow the CDC guidelines. Don’t become a stat...,False,False,False,False,False
1,Do you agree with CDC guidelines that children...,False,False,False,False,False
2,"So, both #Pharmaceutical companies #lilly and ...",True,True,True,True,True
3,The CDC's guidelines are clear; you just don't...,False,False,False,False,False
4,CDC Updates School Guidelines For Students Ret...,False,False,False,False,False
...,...,...,...,...,...,...
295,"FWIW, the 2009 CDC rules for biosafety permitt...",False,False,False,False,False
296,CDC School Guidelines: Vaccinated teachers and...,True,True,True,False,True
297,Funny how you ignored my request for proof tha...,False,False,False,False,False
298,"Antimalarial Drugs Utilization, Adherence to M...",False,False,False,False,False
299,Does Russia have the cure for Corona Virus? \n...,True,False,True,True,True

# twittwe_topic_2

# Implementing twitter_topic_2_lockdowns file

In [45]:
df_twitter_2_lockdown = pd.read_csv("twitter_topic_2_lockdowns.csv")

score_2_56_57_lockdown = cohen_kappa_score(df_twitter_2_lockdown.annotation_56, 
                                             df_twitter_2_lockdown.annotation_57)
score_2_56_58_lockdown = cohen_kappa_score(df_twitter_2_lockdown.annotation_56, 
                                             df_twitter_2_lockdown.annotation_58)
score_2_56_59_lockdown = cohen_kappa_score(df_twitter_2_lockdown.annotation_56, 
                                             df_twitter_2_lockdown.annotation_59)
score_2_57_58_lockdown = cohen_kappa_score(df_twitter_2_lockdown.annotation_57, 
                                             df_twitter_2_lockdown.annotation_58)
score_2_57_59_lockdown = cohen_kappa_score(df_twitter_2_lockdown.annotation_57, 
                                             df_twitter_2_lockdown.annotation_59)
score_2_58_59_lockdown = cohen_kappa_score(df_twitter_2_lockdown.annotation_58, 
                                             df_twitter_2_lockdown.annotation_59)


avg_score_2_56_lockdown = (score_2_56_57_lockdown + score_2_56_58_lockdown + score_2_56_59_lockdown)/3
avg_score_2_57_lockdown = (score_2_56_57_lockdown + score_2_57_58_lockdown + score_2_57_59_lockdown)/3
avg_score_2_58_lockdown = (score_2_56_58_lockdown + score_2_58_59_lockdown + score_2_57_58_lockdown)/3
avg_score_2_59_lockdown = (score_2_56_59_lockdown + score_2_57_59_lockdown + score_2_58_59_lockdown)/3


print("Average Score of Each Annotator for Lockdown File \n")
print("Average Score of Annotator 56:",avg_score_2_56_lockdown)
print("Average Score of Annotator 57:",avg_score_2_57_lockdown)
print("Average Score of Annotator 58:",avg_score_2_58_lockdown)
print("Average Score of Annotator 59:",avg_score_2_59_lockdown)

Average Score of Each Annotator for Lockdown File

Average Score of Annotator 56: 0.1163835813527575
Average Score of Annotator 57: 0.30077990922116665
Average Score of Annotator 58: 0.19539052471284699
Average Score of Annotator 59: 0.30290799595403145

Here we can see that there are two annotators whose value is less than 0.2. We will discard their decision and we will go ahead with annotator 56 & 58 decision. Also we can see that annotaotr 59 has maximum value.

In [46]:
df_twitter_2_lockdown = df_twitter_2_lockdown.drop(columns=['annotation_56', 'annotation_58'])
df_twitter_2_lockdown

,text,annotation_57,annotation_59
0,"Federal Judge Rules Against CDC, Throws Out Cr...",False,False
1,Indeed. Even in the dysfunctional US health sy...,False,False
2,a vaccine seems to be ESSENTIAL if we are to s...,False,False
3,Nurses union calls on CDC to reinstate univers...,False,False
4,Sirf #MukeshAmbani Company &amp; it's Worker...,False,False
...,...,...,...
295,So true...just like analysis a few months ago:...,False,False
296,"The people who developed the CDC guidelines, u...",False,False
297,"No Known Data on Quality, Efficacy and Safety ...",False,False
298,"After a thorough review, and in accordance wit...",False,False
299,"Sadly, I think the only way to protect ourselv...",False,False

In [47]:
#Calculating Mode of Entire DataFrame
mode_2_lock = df_twitter_2_lockdown.mode(axis = 1)

#Creating DataFrame so that we can Merge
df_mode_2_lock = pd.DataFrame(data = mode_2_lock)
df_mode_2_lock

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'bool'
  warn(f"Unable to sort modes: {err}")
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/algorithms.py:944: UserWarning: Unable to sort modes: '<' not supported between instances of 'bool' and 'str'
  warn(f"Unable to sort modes: {err}")

         0    1    2
0    False  NaN  NaN
1    False  NaN  NaN
2    False  NaN  NaN
3    False  NaN  NaN
4    False  NaN  NaN
..     ...  ...  ...
295  False  NaN  NaN
296  False  NaN  NaN
297  False  NaN  NaN
298  False  NaN  NaN
299  False  NaN  NaN

[300 rows x 3 columns]

We can see that we have 3 columns for mode as there were equal values for TRUE and FALSE in some rows. Now we need to take highest AVG Kappa Score of Annotator for such rows.

From above we know that Annotator 59 has the highest Avg score.

In [49]:
#Merging
new21 = [df_twitter_2_lockdown,df_mode_2_lock]
new_df21 = pd.concat(new21,axis = 1)

#Renaming the column name 
new_df21 = new_df21.rename(columns={0:"Final_Value" , 1:"Value2", 2:"Value3"})
new_df21

,text,annotation_57,annotation_59,Final_Value,Value2,Value3
0,"Federal Judge Rules Against CDC, Throws Out Cr...",False,False,False,NaN,NaN
1,Indeed. Even in the dysfunctional US health sy...,False,False,False,NaN,NaN
2,a vaccine seems to be ESSENTIAL if we are to s...,False,False,False,NaN,NaN
3,Nurses union calls on CDC to reinstate univers...,False,False,False,NaN,NaN
4,Sirf #MukeshAmbani Company &amp; it's Worker...,False,False,False,NaN,NaN
...,...,...,...,...,...,...
295,So true...just like analysis a few months ago:...,False,False,False,NaN,NaN
296,"The people who developed the CDC guidelines, u...",False,False,False,NaN,NaN
297,"No Known Data on Quality, Efficacy and Safety ...",False,False,False,NaN,NaN
298,"After a thorough review, and in accordance wit...",False,False,False,NaN,NaN
299,"Sadly, I think the only way to protect ourselv...",False,False,False,NaN,NaN

In [50]:
for idx,rows in new_df21.iterrows():
    if (new_df21.Value2[idx] or new_df21.Value3[idx] == True) or (new_df21.Value2[idx] or 
                                                                  new_df21.Value3[idx]) == False:
        new_df21.Final_Value[idx] = new_df21.annotation_59[idx]

<ipython-input-50-cc1159ab7c55>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df21.Final_Value[idx] = new_df21.annotation_59[idx]

Setting annotator 59's value as final value

In [51]:
final_df_2_lock = new_df21.drop(['Value2',"Value3"],axis = 1)
final_df_2_lock

,text,annotation_57,annotation_59,Final_Value
0,"Federal Judge Rules Against CDC, Throws Out Cr...",False,False,False
1,Indeed. Even in the dysfunctional US health sy...,False,False,False
2,a vaccine seems to be ESSENTIAL if we are to s...,False,False,False
3,Nurses union calls on CDC to reinstate univers...,False,False,False
4,Sirf #MukeshAmbani Company &amp; it's Worker...,False,False,False
...,...,...,...,...
295,So true...just like analysis a few months ago:...,False,False,False
296,"The people who developed the CDC guidelines, u...",False,False,False
297,"No Known Data on Quality, Efficacy and Safety ...",False,False,False
298,"After a thorough review, and in accordance wit...",False,False,False
299,"Sadly, I think the only way to protect ourselv...",False,False,False

# Implementing twitter_topic_2_masking_and_distancing file

In [52]:
df_twitter_2_md= pd.read_csv("twitter_topic_2_masking_and_distancing.csv")

score_2_56_57_md = cohen_kappa_score(df_twitter_2_md.annotation_56, 
                                             df_twitter_2_md.annotation_57)
score_2_56_58_md = cohen_kappa_score(df_twitter_2_md.annotation_56, 
                                             df_twitter_2_md.annotation_58)
score_2_56_59_md= cohen_kappa_score(df_twitter_2_md.annotation_56, 
                                             df_twitter_2_md.annotation_59)
score_2_57_58_md = cohen_kappa_score(df_twitter_2_md.annotation_57, 
                                             df_twitter_2_md.annotation_58)
score_2_57_59_md = cohen_kappa_score(df_twitter_2_md.annotation_57, 
                                             df_twitter_2_md.annotation_59)
score_2_58_59_md = cohen_kappa_score(df_twitter_2_md.annotation_58, 
                                             df_twitter_2_md.annotation_59)


avg_score_2_56_md = (score_2_56_57_md + score_2_56_58_md + score_2_56_59_md)/3
avg_score_2_57_md = (score_2_57_58_md + score_2_57_59_md + score_2_56_57_md)/3
avg_score_2_58_md = (score_2_56_58_md + score_2_57_58_md + score_2_58_59_md)/3
avg_score_2_59_md = (score_2_56_59_md + score_2_57_59_md + score_2_58_59_md)/3


print("Average Score of Each Annotator for Masking and Distancing File \n")
print("Average Score of Annotator 56:",avg_score_2_56_md)
print("Average Score of Annotator 57:",avg_score_2_57_md)
print("Average Score of Annotator 58:",avg_score_2_58_md)
print("Average Score of Annotator 59:",avg_score_2_59_md)

Average Score of Each Annotator for Masking and Distancing File

Average Score of Annotator 56: 0.6346300788322754
Average Score of Annotator 57: 0.6029432092245662
Average Score of Annotator 58: 0.5641640469267309
Average Score of Annotator 59: 0.6629464534041484